// Module: Avatar
$borderAvatarColor: unquote(
  '#00000059'
); // search for references on ts TODO: make this exposed on ts

.module-avatar {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  // border-radius: 50%;
  flex-shrink: 0;
  // border-radius: 7px;
  // overflow: hidden;
  // border-radius: 12px;

  img {
    object-fit: cover;
    // border-radius: 27%;
    border-radius: 7px;
    border: 1px solid $borderAvatarColor;
  }
}

.module-avatar__icon-closed .module-avatar--28,
.module-avatar--28 {
  height: 28px;
  width: 28px;

  img {
    height: 28px;
    width: 28px;
  }
}

.module-avatar__icon-closed .module-avatar--36,
.module-avatar--36 {
  height: 36px;
  width: 36px;

  img {
    height: 36px;
    width: 36px;
  }
}

.module-avatar__icon-closed .module-avatar--48,
.module-avatar--48 {
  height: 48px;
  width: 48px;

  img {
    height: 48px;
    width: 48px;
  }
}

.module-avatar__icon-closed .module-avatar--60,
.module-avatar--60 {
  height:60px;
  width: 60px;

  img {
    height: 60px;
    width: 60px;
  }
}
// .module-avatar__icon-closed .module-avatar--64,
// .module-avatar--64 {
//   height: 64px;
//   width: 64px;

//   img {
//     height: 64px;
//     width: 64px;
//   }
// }

.module-avatar__icon-closed .module-avatar--80,
.module-avatar--80 {
  height: 85px;
  width: 85px;

  img {
    height: 85px;
    width: 85px;
  }
}

.module-avatar--300 {
  height: 300px;
  width: 300px;

  img {
    height: 300px;
    width: 300px;
  }
}

.module-avatar__icon-closed {
  // .module-avatar:first-child{
  //   z-index: 1;
  //   // box-shadow: 3px 3px 0px 0px rgba(0,0,0 ,75%);
  //   box-shadow: 2px 2px 2px 0px var(--color-chatHeader);
  // }
  .module-avatar:last-child {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.module-avatar-clickable {
  transition: $bchat-transition-duration;
  cursor: pointer;
  &:hover {
    filter: grayscale(0.7);
  }
}
.module-avatar-verify-wrapper {
  position: relative;
  border: 2px solid #00bd40;
  border-radius: 14px;
  transition: 0.25s;
  &-verify-tag {
    transition: 0.25s;
    position: absolute;
  }
}
