// Messages
.conversation {
  background: none !important;
}
.module-conversation-header {
  // background: var(--color-cell-background);
  background-color: var(--color-chatHeader);
  border-bottom: 1px solid var(--color-setting-header-border);
}

.module-message {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 65%;

  &__text-error {
    font-style: italic;
  }

  &_text {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;

    a {
      text-decoration: underline;
    }
  }
  &__message-separator {
    margin-bottom: 10px;
  }
  .call-notify-content-wrapper{
    padding: 15px;
    border-radius: 16px;
    .icon-wrapper{
      padding: 13px;
      margin-left:10px;
      border-radius: 16px;
      background-Color:var(--color-received-message-background);
    }
  }
  &__container--incoming {
    border-radius: 16px;
    margin-left: 2px;
    &--opaque {
      background: var(--color-received-message-background);
      //  background-color: #2E333D;
      // box-shadow: 0px 3px 5px 0px #00000029;
      &:hover {
        // background-color: var(--color-received-message-background-hover);
        opacity: 0.9;
      }
    }

    &--transparent {
      background: none;
    }

    // &--first-of-series {
    //   padding-top: 5px;
    // }

    &--last-of-series {
      padding-bottom: 15px;
     
     
    }
    .timeStamp {
      color: #858598;
      font-size: 12px;
      font-weight: 400;
      width: 100%;
      text-align: end;
      padding-right: 10px;
      margin-top: -17px;
      letter-spacing: -0.408px;
  
    }
    .module-message__text {
      color: var(--color-received-message-text);
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      // line-height: 15px;
      word-break: break-all;
      svg {
        margin-right: $bchat-margin-xs;
      }

      a {
        text-decoration: underline;
        color: var(--color-received-message-text);
      }
    }
    .call-notify-content-wrapper{
      background: var(--color-untrust-media-bg);
    }
  }

  &__container--outgoing {
    border-radius: 16px;
    margin-right: 3px;
    &--opaque {
      background-color: #108d32;
      // &:hover {
      //   opacity: 0.9;
      // }
    }

    &--transparent {
      background: none;
    }

    // &--first-of-series {
    //   padding-top: 5px;
    // }

    &--last-of-series {
      padding-bottom: 15px;

    }
    .timeStamp {
      color: #f0f0f0;
      font-size: 12px;
      font-weight: 400;
      width: 100%;
      font-size: 12px;
      text-align: end;
      padding-right: 10px;
      margin-top: -17px;
      letter-spacing: -0.408px;
  
    }
    .module-message__text {
      // color: var(--color-sent-message-text);
      // background-color: red;
      color: #FFFFFF;
      // line-height: 17px;
      word-break: break-all;
      a {
        text-decoration: underline;
        color: var(--color-sent-message-text);
      }
      
    }
    .call-notify-content-wrapper{
      background: #0A6F0A;
      .icon-wrapper{
        background-color: #108d32;
      }
    }
  }
  .spacer{
    width: 68px;
    height: 14px;
    // background-color: antiquewhite;
    display: inline-block;
  }
  // &__container--outgoing::after
  //   {
  //     content: "qiwie";
  //     color:#2879FB;
  //     position: absolute;
  //     right: 0px;
  //     top: -15px;
  //     border-top: none;
  //     border-left: 15px solid transparent;
  //     border-bottom: 15px solid #2879FB;
  //   }
}
.module-message--detailview {
  max-width: 77%;
  line-height: 22px;
}

.module-message--multiSelect-overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}
.module-message--three-dot{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bchat-message-wrapper {
  letter-spacing: 0.03em;
  margin-top: 3px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  &.message-highlighted {
    animation: highlightedMessageAnimation 1s ease-in-out;
  }

  .message-box {
    display: flex;
    width: 100%;
    // align-items: center;
    // height: 68px;
    padding-right: 15px;
    // align-items: center;
  }
  // .checkedCircle,
  // .isSelected {
  //   width: 20px;
  //   height: 20px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 20px;
  //   margin-right: 10px;
  // }
  // .checkedCircle {
  //   border: 2px solid var(--color-text);
  // }
  &.message-selected {
    background-color: var(--color-chat-multi-select-bg);

    // .isSelected{

    //  border: 1px solid rgba(17, 193, 25, 1);

    // }

    .module-message {
      &__container {
        box-shadow: var(--color-bchat-shadow);
      }
    }
  }
}

.inbox {
  background: var(--color-inbox-background);
  color: var(--color-text);
}

.conversation {
  background: none;
}

@mixin bchat-h-title {
  @include fontAccentBold();
}

h1 {
  @include bchat-h-title;
  color: $bchat-shade-16;
  font-size: 25px;
  margin: 0;

  &.active {
    color: var(--color-text);
  }
}

h2 {
  @include bchat-h-title;
  color: var(--color-text);

  font-size: 22px;
  text-align: center;
}

h3 {
  @include bchat-h-title;
  color: var(--color-text);

  font-size: 18px;
  padding-top: 22px;
}

h4 {
  @include bchat-h-title;
  color: var(--color-text);

  font-size: 17px;
  text-align: center;
}
