$onionPathLineColor: #d1d1d1;

#root {
  height: 100%;
}

.subtle {
  opacity: $bchat-subtle-factor;
  width: 290px;
}

.soft {
  opacity: 0.4;
}

.text-center {
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.break-word {
  word-break: break-all;
}

.bchat-icon-button svg path {
  transition: fill 0.3s ease;
}

input,
textarea {
  // caret-color: var(--color-text) !important;
  caret-color: var(--color-caret) !important;
}

* {
  user-select: none;

  .text-selectable,
  input,
  textarea {
    user-select: text;
  }
}

::selection {
  background: var(--color-text-highlight);
}

.shadowed {
  opacity: $bchat-shadow-opacity;
}

.overlayed {
  opacity: $bchat-overlay-opacity;
  pointer-events: none;
}

.overlay {
  display: flex !important;
  z-index: 1;
}

#main-view {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.button-group > div {
  display: inline-flex;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.bchat-button {
  @mixin transparent-background($textAndBorderColor) {
    background-color: #403e4b;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    color: $textAndBorderColor;
    // font-family: $bchat-font-poppin-regular
    font-family: $bchat-font-poppin-semibold;
  }

  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  transition: $bchat-transition-duration;
  background-color: rgba(0, 0, 0, 0);

  &.disabled {
    cursor: default;
  }

  &.default,
  &.square,
  &.brand {
    color: var(--color-foreground-primary);

    &:not(.disabled):hover {
      // background: var(--color-clickable-hovered);
      opacity: 0.8;
    }

    &.green,
    &.white,
    &.primary,
    &.secondary,
    &.success,
    &.danger,
    &.warning {
      &.disabled {
        filter: brightness(60%);
      }
    }

    &.green {
      // background-image: var(--button-color);
      background-color: var(--button-color);

      color: var(--color-text-opposite);
      font-family: $bchat-font-poppin-semibold;
    }

    &.white {
      color: var(--color-text);
      background-color: var(--color-cancelBtn-bg);
    }

    &.primary {
      background-color: var(--color-background-primary);
      color: var(--color-text);
      border-radius: 10px;
      // background-image: var(--button-color);

      .bchat-icon {
        fill: var(--color-foreground-primary);
      }
    }

    &.secondary {
      background-color: $bchat-color-secondary;
    }

    &.success {
      // background-color: $bchat-color-success;
      background-color: #1f1f29;
      color: white;
    }

    &.danger {
      // background-color: $bchat-color-danger;
      background-color: #e22b2b;
      color: #ffffff;
    }

    &.danger-alt {
      background-color: $bchat-color-danger-alt;
    }

    &.warning {
      background-color: $bchat-color-warning;
    }
  }

  &.brand-outline,
  &.default-outline,
  &.square-outline {
    border: none;

    &.green {
      @include transparent-background(var(--color-button-green));
      // background-image: var(--button-color);
      background-color: var(--button-color);

      color: white;
    }

    &.white {
      @include transparent-background(var(--color-text));
      // background-color:var(--color-body-bg);
      box-shadow: 0px 0px 6px 0px #19192424;
    }

    &.primary {
      @include transparent-background($bchat-color-primary);
    }

    &.secondary {
      @include transparent-background($bchat-color-secondary);
    }

    &.danger {
      @include transparent-background($bchat-color-danger);
    }

    &.warning {
      @include transparent-background($bchat-color-warning-alt);
    }

    &.warning,
    &.danger,
    &.secondary,
    &.primary,
    &.white,
    &.green {
      &.disabled {
        filter: brightness(60%);

        &:hover {
          filter: brightness(60%);
        }
      }
    }
  }

  &.brand {
    min-width: 165px;
    height: 60px;
    align-items: center;
    padding: 0px $bchat-margin-lg;
    font-size: $bchat-font-md;
    font-family: $bchat-font-poppins-bold;
    border-radius: 13px;

    &:not(.disabled):hover {
      color: var(--color-text);
      border-color: var(--color-text);
    }
  }

  &.default,
  &.square,
  &.default-outline,
  &.square-outline {
    border-radius: 7px;
    height: 33px;
    padding: 0px 18px;
    font-size: $bchat-font-sm;
    font-family: $bchat-font-poppin-semibold;
  }

  &.square,
  &.square-outline {
    border-radius: 7px;
    font-family: $bchat-font-poppin-semibold;
  }

  & > *:hover:not(svg) {
    filter: brightness(80%);
  }
}

.bchat-label {
  color: $bchat-color-white;
  padding: $bchat-margin-sm;
  width: 100%;
  border-radius: 2px;
  text-align: center;

  &.primary {
    background-color: $bchat-color-primary;
  }

  &.secondary {
    background-color: $bchat-color-secondary;
  }

  &.success {
    background-color: $bchat-color-success;
  }

  &.danger {
    background-color: $bchat-color-danger;
  }

  &.warning {
    background-color: $bchat-color-warning-alt;
  }

  &.warningBg {
    background-color: #2879fb;
    font-size: 12px;
    font-family: $bchat-font-poppin-regular;
  }
}

.bchat-icon-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transform: translateZ(0);
  //  color: white;

  &:hover {
    color: #159b24;
    // padding: 5px;
  }

  transition: opacity $bchat-transition-duration;

  &.no-opacity {
    color: #159b24;
    background: white;
  }
}

/* CONVERSATION AND MESSAGES */
.module-conversation-header {
  height: $main-view-header-height;
}

.module-conversation-header__title-flex,
.module-conversation-header__title {
  font-weight: bold;
  width: 100%;
  display: flex;
  font-size: $bchat-font-md;

  &-text {
    @include bchat-color-subtle(var(--color-text));

    font-weight: 400;
    font-size: $bchat-font-sm;
    line-height: $bchat-font-sm;
  }

  .module-contact-name {
    width: 100%;
  }

  .module-contact-name__profile-number {
    text-align: center;
  }
}

.module-conversation-header__title {
  flex-direction: column;
}

.module-conversation-header__title-flex {
  flex-direction: row;
}

.module-conversation__user__profile-name,
.module-message__author__profile-name {
  font-style: normal;
}

.module-message__author-avatar {
  position: relative;
  margin-inline-end: 20px;
  padding-top: 5px;
  padding-inline-end: 4px;
}

.module-message--incoming {
  margin-inline-start: 0;
  margin-inline-end: auto;
  // margin-top: 10px;
}

.module-message--outgoing {
  margin-inline-end: 0;
  margin-inline-start: auto;
  // margin-top: 10px;
}

//.module-message--outgoing::after {
//  content: " ";
// position: absolute;
//right: 17px;
//top: -12px;
// border-left: 15px solid transparent;
//border-bottom: 15px solid #2879FB;
//}

pre {
  backdrop-filter: brightness(0.8);
  padding: $bchat-margin-xs;
}

.module-message__container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 30px;
  // To limit messages with things forcing them wider, like long attachment names
  max-width: calc(100vw - 380px - 100px);
  align-items: center;
}

label {
  user-select: none;
}

.module-message__attachment-container {
  // Entirely to ensure that images are centered if they aren't full width of bubble
  text-align: center;
  position: relative;
  overflow: hidden;

  border-top-left-radius: $bchat_message-container-border-radius;
  border-bottom-left-radius: $bchat_message-container-border-radius;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.module-message__container--outgoing--first-of-series {
  border-top-right-radius: $bchat_message-container-border-radius;
}

.module-message__container--outgoing--last-of-series {
  border-bottom-right-radius: $bchat_message-container-border-radius;
}

.conversation-header {
  .module-avatar img {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  }

  .search-icon {
    margin-inline-end: 10px;
  }
}

.module-conversation-header {
  position: relative;
  padding: 0px $bchat-margin-lg 0px $bchat-margin-sm;
}

.title-wrapper {
  position: relative;
}

.hidden {
  display: none;
  visibility: hidden;
}

.bchat-button div[role='button'] {
  cursor: pointer;
}

.Toastify__toast {
  background: var(--color-toast-success);
  font-family: $bchat-font-poppin-medium;

  // background: linear-gradient(--color-cell-background);

  color: var(--color-text);

  .Toastify__close-button {
    color: white;
    padding: 1px 5px 3px 6px;
    background-color: #3f3c4b;
    border-radius: 24px;
    margin-top: 11px;
    margin-right: 8px;
  }

  @mixin set-toast-theme($color) {
    border: 1x solid #919191 !important;
    background: $color;
    border-radius: 15px;
  }

  &--success {
    @include set-toast-theme(var(--color-toast-success));
  }

  &--info {
    @include set-toast-theme(var(--color-toast-success));
  }

  &--warning {
    @include set-toast-theme(var(--color-toast-error));
  }

  &--error {
    @include set-toast-theme(var(--color-toast-error));
  }

  .Toastify__progress-bar {
    background-color: rgba(var(--color-text), 0.1);
  }
}

.bchat-modal {
  animation: fadein $bchat-transition-duration;
  z-index: 150;
  min-width: 300px;
  border-radius: 18px;
  box-sizing: border-box;
  max-height: 70vh;
  max-width: calc(min(70vw, 800px));
  font-family: $bchat-font-default;
  background-color: var(--color-smModal-bg);
  color: var(--color-text);
  border: var(--border-bchat);
  box-shadow: var(--color-bchat-shadow);

  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: $bchat-margin-lg;
    padding-bottom: 0px;

    font-family: $bchat-font-poppins-bold;
    text-align: center;
    line-height: 18px;
    font-size: $bchat-font-md;
    font-weight: bold;

    &.reverse {
      flex-direction: row-reverse;

      .bchat-modal__header__close > div {
        float: right;
      }

      .bchat-modal__header__icons > div {
        float: left;
        padding-inline-start: 0px;
        padding-inline-end: 10px;
      }
    }

    &__icons,
    &__close {
      width: 60px;

      .bchat-icon-button {
        color: var(--color-text);
      }
    }

    &__icons {
      float: right;
    }

    &__close > div {
      float: left;
      padding: $bchat-margin-xs;
      margin: 0px;
    }

    &__icons > div {
      float: right;
      padding-inline-start: 10px;
    }
  }

  &__body {
    padding: 0px $bchat-margin-lg 0px $bchat-margin-lg;
    font-family: $bchat-font-default;
    line-height: $bchat-font-md;
    font-size: $bchat-font-md;
    overflow-y: auto;
    overflow-x: hidden;

    .message {
      text-align: center;
    }

    .bchat-id-editable {
      width: 30vw;
      max-width: 700px;
    }
  }

  .group-member-list__selection {
    overflow-y: auto;
    width: 100%;
  }

  &__box {
    background-color: var(--color-settingIndication);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
    justify-content: center;
    border-radius: 15px;
    padding: 0 6%;
  }

  &__centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    // to allow new lines
    white-space: pre-wrap;
  }

  &__description {
    font-family: $bchat-font-poppin-semibold;
  }

  &__button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color:var(--color-input-background);
    // background-color: var(--color-composeMsgInput);
    padding: 7px 25px 15px;
    border-radius: 7px;
    cursor: pointer;

    .copyIconBtn {
      display: flex;
      background-color: var(--color-copyModalbtn);
      width: 116px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      box-shadow: var(--color-bchat-shadow);
    }
    .copyIconBtn:hover {
      transform: scale(1.1);
      color: #1ced23;
    }

    .bchat-button {
      margin: $bchat-margin-xs;
      min-width: 88px;
      height: 28px;
    }

    &__center {
      display: flex;
      justify-content: center;
      margin-bottom: 18px;

      .bchat-button.brand-outline {
        height: 45px;
      }
      .bchat-button.brand-outline.primary {
        background-color: var(--color-walcancelBtn);
        box-shadow: var(--color-bchat-shadow);
      }

      .bchat-button {
        margin: $bchat-margin-xs;

        .default.white {
          background-color: var(--color-input-background);
        }
      }
    }
    // .bchat-button.default.primary
    // {
    // background-image: var(--button-color);
    // }
  }

  // &__button-group:hover
  // {
  //   opacity: .6;
  // }

  &__text-highlight {
    // @include text-highlight($bchat-color-green);
    font-family: $bchat-font-poppin-medium;
    font-size: $bchat-font-lg;
    color: var(--color-seed);
    font-style: normal;
  }

  &-recovery-key {
    background-color: var(--color-settingIndication);
    padding: 27px;
    border-radius: 10px;
    margin-bottom: 2px;

    &-title {
      font-size: $bchat-font-h3;
      font-family: $bchat-font-poppin-semibold;
    }

    &-description {
      margin-top: $bchat-margin-xs;
      font-family: $bchat-font-poppin-medium;
    }
  }

  &__input-group {
    width: 87%;
  }
}

.bchat-modal__body {
  display: flex;
  flex-direction: column;
}

.bchat-confirm {
  &-wrapper {
    .bchat-modal__body .bchat-modal__centered {
      // margin: $bchat-margin-lg;
      // margin-top: 30px;
      // margin-bottom: 30px;
      text-align: center;
      // margin-top: 8px;
      font-family: $bchat-font-poppin-regular;
      font-size: 14px;

      &-display {
        user-select: text;
        text-align: center;
        word-break: break-all;
        font-size: $bchat-font-md;
        // padding: 0px $bchat-margin-lg;
        // background-color: var(--color-composeMsgInput);
        background-color: var(--color-background-primary);
        border-radius: 10px;
        padding: 10px 10px 10px 14px;
        font-family: $bchat-font-default;
        font-weight: 100;
        color: #0bb70f;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        min-height: 60px;
        box-shadow: var(--color-bchat-shadow);

        font-size: $bchat-font-md;
        // padding: 0px $bchat-margin-sm;
        margin: 17px 0px 0;
      }

      &-display-icon {
        // background:url('../images/bchat/copy_icon.svg');
        display: flex;
        justify-content: center;
        align-items: center;
        // background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: relative;
        // background-color: var(--color-composeMsgInput);
        background-color: var(--color-copyIconBg);
        background-size: 16px;
        border-radius: 30px;
        background-position: center;
        cursor: pointer;
        color: var(--color-copyIcon);
      }
      &-display-icon:hover {
        transform: scale(1.1);
        color: #1ced23;
      }

      &-walletModalContent {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 38px;
        font-family: 'poppin-semibold';
        display: flex;
        border-radius: 10px;
      }
      &-walletModalContent:hover {
        // background-color: #444455;
        background-color: var(--color-walPopuphover);

        cursor: pointer;
      }
      .isSelect {
        background-color: #2879fb;
        cursor: pointer;
        color: #fff;
      }
    }
  }

  &-main-message {
    font-size: $bchat-font-md;
    line-height: 1.5;
  }

  &-sub-message {
    text-align: center;
    margin-top: 5px;
  }
}

.bchat-toggle {
  width: 50px;
  height: 22px;
  /* border: 1.5px solid #e5e5ea; */
  border-radius: 11px;
  position: relative;
  cursor: pointer;
  background-color: var(--color-toggleOff);
  box-shadow: var(--color-bchat-shadow);

  .knob {
    position: absolute;
    top: -2px;
    left: -2.5px;
    height: 25px;
    width: 25px;
    border-radius: 28px;
    background-color: #ececec;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05), 0 3px 1px 0 rgba(0, 0, 0, 0.05),
      0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);

    transition: transform $bchat-transition-duration ease,
      background-color $bchat-transition-duration ease;
  }

  &.active {
    // background-color: $bchat-color-green;
    // border-color: $bchat-color-green;

    .knob {
      transform: translateX(20px);
      background-color: $bchat-color-green;
      left: 10px;
    }
  }
}

.react-contexify {
  // be sure it is more than the one set for the More Infos screen of messages
  z-index: 30;
  min-width: 250px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background: var(--color-cell-background);
  border-radius: 10px;
  font-family: $bchat-font-poppin-medium;

  .react-contexify__item {
    background: var(--color-cell-background);
  }

  .react-contexify__item:not(.react-contexify__item--disabled):hover
    > .react-contexify__item__content {
    background: var(--color-composeMsgIconBG);
    // color: var(--color-text-menu-highlighted);
    color: '#fff';
  }

  .react-contexify__item__content {
    transition: $bchat-transition-duration;
    color: var(--color-text);
  }

  &.react-contexify__submenu {
    top: 0px !important; // height of an item element

    .react-contexify__item__content {
      justify-content: center;
    }
  }

  .react-contexify__submenu-arrow {
    line-height: 16px; // center the arrow for submenu
  }
}

.bchat-dropdown {
  position: relative;
  width: 100%;

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px $bchat-margin-md;
    font-size: $bchat-font-sm;

    color: var(--color-text);
    background: var(--color-composeMsgInput);
    // background: var(--color-cell-background);

    &:hover {
      background: var(--color-clickable-hovered);
    }
  }

  &__list-container {
    z-index: 99;
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-height: 40vh;
    overflow-y: auto;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 $bchat-margin-md;
    background: var(--color-cell-background);
    color: var(--color-text);

    font-size: 0.8rem;
    width: -webkit-fill-available;
    transition: $bchat-transition-duration;

    &:first-child {
      border-top: var(--border-bchat);
    }

    &:last-child {
      border-top: var(--border-bchat);
    }

    &:hover {
      background: var(--color-clickable-hovered);
    }

    .bchat-icon {
      margin-inline-start: 6px;
    }

    .item-content {
      margin-inline-start: 6px;
    }

    &.active,
    &:hover {
      background: var(--color-clickable-hovered);
    }

    &.danger {
      color: $bchat-color-danger;
    }
  }

  &:hover {
    background: var(--color-clickable-hovered);

    .bchat-icon {
      opacity: 1;
    }
  }
}

.image-upload-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: rgba($bchat-color-black, 0.72);
  opacity: 0;
  transition: $bchat-transition-duration;

  // &:after {
  //   content: 'Edit';
  // }

  // &:hover {
  //   opacity: 1;
  // }
}

.qr-image {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  // margin-bottom: 45px;
  width: 58%;

  // background: white;
  padding: 0.2rem;

  svg {
    width: 212px !important;
    height: 193px !important;
    // border-radius: 6px;
    // padding: $bchat-margin-xs;
    // background-color: $bchat-color-white;
  }
}

.qr-box-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.qr-center-icon {
  position: absolute;
  top: 81px;
  width: 35px;
  height: 35px;
}

.profile-header {
  font-family: $bchat-font-poppin-semibold;
  font-size: 12px;
}

.profile-value {
  width: 86%;
  font-family: $bchat-font-poppin-medium;
  font-size: 14px;
}

.conversation-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;

  & > div {
    display: block;
  }
}

.bchat-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  width: 100%;
  min-height: 50%;
  flex-shrink: 0;

  // div {
  //   position: absolute;
  //   top: 33px;
  //   width: 13px;
  //   height: 13px;
  //   border-radius: 50%;
  //   background: $bchat-color-green;
  //   animation-timing-function: cubic-bezier(0, 1, 1, 0);
  // }
  // div:nth-child(1) {
  //   left: 8px;
  //   animation: bchat-loader1 0.6s infinite;
  // }
  // div:nth-child(2) {
  //   left: 8px;
  //   animation: bchat-loader2 0.6s infinite;
  // }
  // div:nth-child(3) {
  //   left: 32px;
  //   animation: bchat-loader2 0.6s infinite;
  // }
  // div:nth-child(4) {
  //   left: 56px;
  //   animation: bchat-loader3 0.6s infinite;
  // }
  // @keyframes bchat-loader1 {
  //   0% {
  //     transform: scale(0);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }
  // @keyframes bchat-loader3 {
  //   0% {
  //     transform: scale(1);
  //   }
  //   100% {
  //     transform: scale(0);
  //   }
  // }
  // @keyframes bchat-loader2 {
  //   0% {
  //     transform: translate(0, 0);
  //   }
  //   100% {
  //     transform: translate(24px, 0);
  //   }
  // }
}

.bchat-settings {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-list {
    overflow-y: auto;
    overflow-x: hidden;
    // padding: 15px;
    padding: 15px 15px 0 15px;
    height: 100%;

    .noBlockedContacts {
      width: 100%;
      // height: 60px;
      // background-color: var(--color-left-pane-overlay-background);
      text-align: center;
      margin: 0 auto;
      font-family: 'poppin-semibold';
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: var(--color-disableText);

      .noBlockedContacts-img {
        width: 500px;
        height: 337px;
        background-image: var(--image-BlockedContact);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 16%;
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: $main-view-header-height;
    // background: var(--color-cell-background);
    background-color: var(--color-chatHeader);

    &-title {
      line-height: $main-view-header-height;
      font-weight: bold;
      font-size: $bchat-font-lg;
      text-align: center;
      flex-grow: 1;
    }

    .bchat-button,
    .bchat-icon-button {
      margin-inline-end: $bchat-margin-lg;
    }
  }

  &-item {
    font-size: $bchat-font-md;
    padding: $bchat-margin-lg;
    margin-bottom: 4px;
    border-radius: 10px;
    background: var(--color-settingIndication);
    color: var(--color-text);
    // box-shadow: var(--color-bchat-shadow);

    &.inline {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__info {
      padding-inline-end: $bchat-margin-lg;
    }

    &__dFlex {
      display: flex;
      align-items: center;
    }

    &__title {
      line-height: 1.7;
      font-size: $bchat-font-lg;
      // font-weight: bold;
      font-family: $bchat-font-poppin-semibold;
    }

    &__description {
      font-family: $bchat-font-poppin-regular;
      font-size: $bchat-font-sm;
      font-weight: 100;
      max-width: 700px;
      @include bchat-color-subtle(var(--color-text));
    }

    &__content {
      label {
        @include bchat-color-subtle(var(--color-text));
      }
    }

    &__selection {
      .bchat-toggle {
        transition: $bchat-transition-duration;
      }

      .active {
        background-color: var(--color-inbox-background);
      }
    }

    &__dropdownValue {
      width: 78px;
      height: 40px;
      border-radius: 10px;
      background-color: #3a3a4e;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .react-select-container {
      background-color: #128b17;
    }
  }

  &-view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--color-rightpaneSetting);
  }

  &__version-info {
    display: flex;
    justify-content: space-between;

    padding: $bchat-margin-sm $bchat-margin-md;
    background: none;
    font-size: $bchat-font-xs;

    span {
      opacity: 0.4;
      transition: $bchat-transition-duration;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__password-lock {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    &-box {
      padding: 45px 60px;
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 90%;
      width: 600px;

      background: var(--color-cell-background);
      color: var(--color-text);

      border: 1px solid $bchat-shade-8;
      border-radius: 5px;

      h3 {
        padding: 0px;
        margin-bottom: $bchat-margin-lg;
      }

      input {
        width: 100%;
        background: var(--color-input-background);
        color: var(--color-text);

        padding: $bchat-margin-xs $bchat-margin-md;
        margin-bottom: $bchat-margin-lg;
        outline: none;
        border: none;
        border-radius: 2px;
        text-align: center;
        font-size: $bchat-font-xl;
        letter-spacing: 5px;
        font-family: $bchat-font-default;
      }
      .confirm-Button {
        .bchat-button.brand {
          min-width: 165px;
          height: 40px;
          align-items: center;
          padding: 0px 20px;
          font-size: 14px;
          font-family: 'Poppins';
          border-radius: 13px;
          // background-image: var(--button-color);
          background-color: var(--button-color);
        }
      }
    }
  }

  &-messageRequest {
    &-list-item {
      display: flex;
      flex-direction: row;
      padding-inline-end: 16px;
      padding: 10px 0;
      padding-inline-start: 16px;
      align-items: center;
      background-color: var(--color-settingIndication);
      margin-bottom: 2px;
      border-radius: 10px;
    }

    &-profileName {
      font-family: $bchat-font-poppin-semibold;
      font-size: $bchat-font-lg;
    }

    &-acceptButton {
      background-color: $bchat-button-color;
      color: white;
      padding: 8px 25px;
      border-radius: 8px;
      font-family: $bchat-font-poppin-semibold;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  &-recovery-seed {
    display: flex;
    flex-direction: column;
    width: 53%;
    text-align: center;
    margin: 0 auto;
    height: 81vh;
    justify-content: center;

    &-danger {
      width: 100px;
      margin: 0 AUTO;
    }

    &-bold {
      font-family: $bchat-font-poppins-bold;
      font-size: 24px;
      margin-bottom: 0px;
    }

    &-red {
      font-family: $bchat-font-poppin-medium;
      color: red;
      margin-bottom: 0px;
    }

    &-note {
      font-family: $bchat-font-poppin-semibold;
      margin: 0px 0px 25px;
    }

    &-button {
      width: 62%;
      margin: 0 auto;
    }
  }

  &-warnUnsetpass {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000001f;
    &-contentbox {
      text-align: center;
      width: 48%;
      background-color: var(--color-WalcontentBg);
      padding: 21px 74px;
      border-radius: 10px;
    }
    .fontSemiBold {
      font-family: $bchat-font-poppin-semibold;
      font-size: 14px;
    }
    .bchat-button.brand.green {
      height: 40px;
      border-radius: 5px;
    }
  }

  .wallet {
    .marginLeft {
      margin-left: 10px;
    }
    .marginRight {
      margin-right: 10px;
    }

    .font-medium {
      font-family: $bchat-font-poppin-medium;
    }
    .flexCenter {
      display: flex;
      align-items: center;
    }
    &-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      // margin-bottom: 10px;
      &-left-side,
      &-right-side {
        display: flex;
        align-items: center;
      }
    }
    &-button {
      // background-color: #444455;
      background-color: var(--color-WalcontentBg);
      border-radius: 50px;
      // padding: 3px 14px;
      padding: 10px 14px;
      cursor: pointer;
    }
    &-squarBox {
      // display: flex;
      // background-color: #303041;
      background-color: var(--color-WalcontentBg);

      width: 49.4%;
      border-radius: 10px;
      padding: 17px 30px 17px 30px;
    }
    &-contentSpace {
      height: calc(81vh - 30px);
    }
    &-left-balance-Sec {
      width: 55%;
      &-balanceTxt {
        // font-size: 22px;
        // font-size: 26px;
        font-size: 22px;
        font-family: $bchat-font-poppin-semibold;
      }
      &-realCurrencyTxt {
        // font-size: 12px;
        font-size: 14px;
        color: #8f8fa2;
      }
    }
    &-right-Button-Sec {
      width: 45%;
      &-fetch-btn {
        background-color: #2879fb;
        width: 100%;
        height: 45px;
        /* text-align: center; */
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 6px;
        font-family: 'poppin-medium';
        font-size: 10px;
      }
      &-unlockbal-box {
        background-color: var(--color-walunlockbal);
        // height: 45px;
        height: 60px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        border-radius: 10px;
        margin-top: 20px;

        &--Text {
          // color: #eaeaea;
          font-size: 10px;
          width: 50%;
          text-align: center;
        }
        &--verticalLine {
          border-left: 2px solid #5c5c7b;
          height: 27px;
        }
        .unBalance {
          // color: #eaeaea;
          font-size: 16px;
          width: 50%;
          text-align: center;
          font-family: 'poppin-semibold';
        }
      }
    }
    &-walletPassword {
      align-items: center;
      display: flex;
      width: 100%;
      height: 87vh;
      // background-color: aliceblue;
      flex-direction: column;
      justify-content: center;

      &-contentBox {
        width: 500px;
        // background-color: #2d2d3b;
        background-color: var(--color-WalcontentBg);
        border-radius: 10px;
        &-walletImg {
          width: 25%;
          height: 103px;
          background-repeat: no-repeat;
          background-size: 100%;
          margin: auto;
          // background-image: url('../images/wallet/Password_image.svg');
          background-image: var(--img-walPassword);
        }
        &-headerBox {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-family: $bchat-font-poppins-bold;
            margin-left: 10px;
            font-size: 18px;
          }
        }

        &-inputBox {
          margin: 0 auto;
          width: 73%;
          input {
            outline: none;
            border: none;
            width: 100%;
            border-bottom: 1px solid #444455;
            text-align: center;
          }
        }
        &-forgotTxt {
          text-align: center;
          color: #1bb51e;
          font-size: 12px;
          text-decoration: underline;
        }
        .bchat-button.brand-outline.green {
          width: 33%;
          margin: auto;
          height: 45px;
          border-radius: 10px;
        }
      }
    }
    &-progressSync {
      &-presentage {
        text-align: center;
        font-family: $bchat-font-poppins-bold;
        font-size: 20px;
        color: #128b17;
      }
      &-barBg {
        width: 100%;
        height: 10px;
        background-color: var(--color-walSyncbar);
        padding-top: 2px;
        .bar {
          background-color: #1bb51e;
          width: 40%;
          height: 4px;
          margin-top: 1px;
        }
      }
      &-reloadTxt {
        text-align: center;
        font-family: $bchat-font-poppin-semibold;
        font-size: 14px;
      }
      &-bRemaing {
        text-align: center;
      }
    }
    &-myAddress-Box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-content {
        // width: 90%;
        // // height: 38px;
        // height: 50px;
        // // background-color: #1c1c26;
        // background-color: var(--color-walInputBg);
        // border-radius: 10px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // // padding: 15px;
        // font-family: $bchat-font-poppin-light;
        // font-size: 12px;
        // padding: 8px;
        width: 90%;
        /* height: 50px; */
        background-color: var(--color-walInputBg);
        border-radius: 10px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        font-family: 'poppin-light';
        font-size: 12px;
        padding: 15px 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* cursor: pointer; */
        margin-right: 5px;
      }

      &-copyIcon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 30px;
        // height: 30px;
        width: 40px;
        height: 40px;
        position: relative;
        // background-color: #fff;
        background-color: var(--button-color);

        background-size: 16px;
        border-radius: 30px;
        background-position: center;
        cursor: pointer;
        // color: var(--color-copyIcon);
        color: #fff;
      }
      &-copyIcon-box:hover {
        transform: scale(1.1);
        color: #1ced23;
      }
    }
    &-sendForm {
      // background-color: #303041;
      background-color: var(--color-WalcontentBg);

      width: 100%;
      border-radius: 10px;
      padding: 15px;
      &-label {
        // width: 77px;
        width: calc(20% + 30px);
      }
      &-inputBox {
        width: 100%;
        // height: 60px;
        // background-color: #1c1c26;
        background-color: var(--color-walInputBg);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;

        .priortyBox {
          width: 90%;
          height: 40px;
          display: flex;
          align-items: center;
        }
        .bchat-button.brand.green {
          height: 35px;
          border-radius: 6px;
          width: 139px;
        }
        input {
          border: none;
          outline: none;
          width: 100%;
          height: 40px;
          font-family: $bchat-font-poppin-light;
          font-size: 12px;
         
        }

        // input::-webkit-outer-spin-button,
        // input::-webkit-inner-spin-button {
        //   -webkit-appearance: none;
        //   margin: 0;
        // }
      }
      &-textArea {
        width: 100%;
        border: 0px;
        height: 100px;
        resize: none;
        outline: none;
      }
      &-sendBtnBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .bchat-button.brand.green {
          width: 10px;
          height: 44px;
        }
      }
    }

    &-receivedForm {
      // background-color: #303041;
      background-color: var(--color-WalcontentBg);
      // height: 58%;
      display: flex;
      width: 100%;
      border-radius: 10px;
      // padding: 40px;
      padding: 59px 40px;
      &-qrBox {
        // width: 210px;
        // height: 210px;
        padding: 15px;
        background-color: var(--color-walQrOutline);
        border-radius: 10px;

        &-qrView {
          display: flex;
          justify-content: center;
          /* border-radius: 30px; */
          width: 210px;
          height: 210px;
          padding: 0.2rem;
          background-color: #fff;
        }
      }
      &-rightSide {
        margin-left: 26px;
        &-Title {
          font-size: 28px;
          font-family: $bchat-font-poppins-bold;
        }
        &-label {
          color: #8f8fa2;
          font-family: $bchat-font-poppin-regular;
        }
        &-input {
          border: none;
          outline: none;
          width: 100%;
          // background-color: #1c1c26;
          background-color: var(--color-walInputBg);
          height: 50px;
          border-radius: 10px;
          padding-left: 20px;
        }
        &-btn {
          // background-color: #128b17;
          background-color: var(--button-color);
          font-family: $bchat-font-poppin-semibold;
          width: 157px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 39px;
          border-radius: 6px;
          cursor: pointer;
          color: #fff;
        }
      }
    }
    &-forgotPassword {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &-content-Box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 38%;
        width: 538px;

        height: 417px;
        // background-color: #2d2d3b;
        background-color: var(--color-WalcontentBg);
        border-radius: 10px;
        margin: 5% 0px;
        &-title {
          text-align: center;
          font-size: 18px;
          font-family: $bchat-font-poppins-bold;
          padding-top: 20px;
        }
        &-seed {
          display: flex;
          flex-direction: row;
          textarea {
            border: none;
            outline: none;
            resize: none;
            width: 435px;
            height: 76px;
            // background-color: #353543;
            background-color: var(--color-walInputBg);

            padding: 15px;
            // box-shadow: 1px 2px 5px #00000074;
            border-radius: 10px;
          }
        }
        &-paste-icon {
          background: url('../images/bchat/paste.svg') no-repeat;
          width: 35px;
          height: 35px;
          background-color: var(--color-inboxBgColor);
          background-size: 14px;
          border-radius: 35px;
          background-position: center;
          left: 10px;
          top: 19px;
          position: relative;
          cursor: pointer;
          box-shadow: var(--color-bchat-shadow);
        }
        &-paste-icon:hover {
          transform: scale(1.1);
          // color: #1ced23;
        }
        &-password {
          input {
            border: none;
            outline: none;
            // background-color: #353543;
            background-color: var(--color-walInputBg);

            width: 438px;
            height: 45px;
            // box-shadow: 1px 2px 5px #00000074;
            margin-right: 10px;
            border-radius: 10px;
            padding: 10px;
          }
        }
      }
    }
    &-addressBook {
      &-header {
        &-txt {
          font-family: $bchat-font-poppin-semibold;
          margin-left: 5px;
        }
      }
      &-wholeBox {
        height: calc(83vh - 30px);
        &-contentBox {
          background-color: var(--color-WalcontentBg);
          border-radius: 10px;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          &-nameBtn {
            background-color: #159b24;
            padding: 4px 27px;
            border-radius: 3px;
            /* margin-bottom: 10px; */
            font-family: 'poppin-semibold';
            color: #fff;
          }
          &-addresstxt {
            font-family: $bchat-font-poppin-light;
            font-size: 12px;
          }

          &-sendBtn,
          &-copyBtn {
            width: 100px;
            background-color: #2879fb;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-family: $bchat-font-poppin-semibold;
            cursor: pointer;
          }
          &-sendBtn {
            color: #fff;
          }
          &-copyBtn {
            background-color: var(--color-walcancelBtn);
            margin-left: 10px;
          }
        }
      }

      &-emptyAddressBook {
        margin: 0 auto;
        background-image: var(--image-EmptyAddressBook);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;

        &-content {
          font-family: $bchat-font-poppin-medium;
          // font-size: 15px;
          color: var(--color-disableText);
          padding-top: 50%;
          // margin: 10px 0 0 0;
        }
      }
    }

    &-settings {
      &-tabBox {
        // background-color: #2d2d3b;
        background-color: var(--color-WalcontentBg);
        padding: 20px;
        border-radius: 10px;

        &-disableText {
          color: #a1a1bc;
        }
        &-subtle {
          font-family: $bchat-font-poppin-semibold;
          font-size: 16px;
        }
        &-checkBox {
          display: block;
          border: 2px solid var(--color-text);
          width: 15px;
          height: 15px;
          border-radius: 3px;
        }
      }

      &-nodeSetting {
        &-contentBox {
          // background-color: #303041;
          background-color: var(--color-WalcontentBg);
          border-radius: 10px;
          padding: 15px;
        }
        &-FlexBox {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &-outlineCircle {
            border: 2px solid var(--color-text);
            /* padding: 2px; */
            width: 20px;
            height: 20px;
            padding: 0;
            border-radius: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        // .bchat-modal__centered {
        //   text-align: unset;
        //   align-items: unset;
        // }

        &-notesTxt {
          font-family: $bchat-font-poppin-light;
        }
        &-dropDownHeaderTxt {
          font-family: $bchat-font-poppin-semibold;
          color: #20d024;
          font-size: 16px;
        }
        &-horizontalLine {
          background-color: #707070;
          width: 100%;
          height: 1.5px;
        }
        &-dropDownModal,
        &-sendDropDown {
          position: absolute;
          // background-color: #1c1c26;
          background-color: var(--color-walInputBg);
          width: 95%;
          top: 2px;
          padding: 19px;
          border-radius: 10px;
          box-shadow: 1px -1px 10px #00000074;
          // max-height: 140px;
          max-height: 171px;
          overflow: auto;
        }

        &-sendDropDown {
          width: 100%;
          top: 15px;
          padding: 18px;
          .dropDownItem {
            margin-bottom: 5px;
            cursor: pointer;

            &-checkedCircle {
              display: inline-block;
              width: 13px;
              height: 13px;
              border: 1.5px solid var(--color-text);
              border-radius: 10px;
              margin-right: 5px;
            }
            &-blockAndMargin {
              display: inline-block;
              margin-right: 5px;
            }
          }
          .fontSemiBold {
            font-family: $bchat-font-poppin-semibold;
          }
          .fontRegular {
            font-family: $bchat-font-poppin-regular;
          }
        }
        &-remoteContentBox {
          display: flex;
          align-items: center;
          width: 45%;

          &-content-hidden-Box {
            display: none;
            transition: display 2s;
          }
          .d-block {
            display: block;
          }

          &-labelTxt {
            // width: 20%;
            width: 97px;
          }
          &-inputBox {
            border: none;
            outline: none;
            width: 80%;
            // background-color: #1c1c26;
            background-color: var(--color-walInputBg);

            height: 50px;
            border-radius: 10px;
            padding-left: 20px;
            display: flex;
            justify-content: flex-end;
            &-dropDownBtn {
              display: flex;
              width: 30px;
              height: 30px;
              background-color: #0d9e14;
              justify-content: center;
              align-items: center;
              margin-top: 10px;
              margin-right: 10px;
              border-radius: 5px;
              color: #fff;
              cursor: pointer;
            }
            &-input {
              border: none;
              outline: none;
              width: 88%;
              // background-color: #1c1c26;
              background-color: var(--color-walInputBg);

              height: 50px;
              border-radius: 10px;
              padding-left: 20px;
            }
          }
          &-warning-box {
            text-align: center;
            margin-top: 14px;
            font-size: 12px;
          }
          &-btnBox {
            .bchat-button.default.primary,
            .bchat-button.default.green {
              width: 125px;
              height: 45px;
            }
            .bchat-button.default.primary {
              background-color: #2879fb;
              margin-right: 30px;
              color: white;
            }
          }
        }
      }
      &-modalBtnGrp {
        .bchat-button.brand-outline.primary,
        .bchat-button.brand-outline.green .bchat-button.brand {
          height: 35px;
          border-radius: 6px;
          min-width: 110px;
        }
        .bchat-button.brand-outline
        {
          height: 35px;
          border-radius: 6px;
          min-width: 110px;
        }
      }
    }

    &-syncStatus {
      // position: relative;
      // height: 30px;
      // // width: 66.5%;
      // bottom: 0;
      position: absolute;
      width: calc(100vw - 417px);
      height: 30px;
      bottom: 0;
      background-color: var(--color-chatHeader);

      &-statusTxt {
        font-size: 12px;
        &-greenTxt {
          color: #00bf25;
        }
      }
      &-statusvalue {
        font-size: 12px;
        color: #9393b1;
      }
    }
    &-syncing {
      width: 100%;
      // height: 85%;
      height: 82%;
      // background-position: center;
      background-size: 98% 98%;
      margin: 0 auto;
      background-image: var(--image-walletSyncing);
      background-repeat: no-repeat;

      &-content {
        font-family: 'poppin-regular';
        color: #82828d;
        font-size: 13px;
        text-align: center;
        // padding-top: 324px;
        // padding-top: 280px;
      }
    }

    &-Transaction {
      // background-color: #303041;
      background-color: var(--color-WalcontentBg);
      /* width: 49.4%; */
      width: calc(100vw - 417px);
      border-radius: 10px;
      padding: 15px;
      // height: 58%;
      height: 61%;
      // overflow-y: auto;
      margin-bottom: 10px;

      &-title {
        display: flex;
        align-items: center;
      }

      &-filterInput {
        // width: 298px;
        width: 224px;
        border: none;
        outline: none;
        height: 40px;
        // background-color: #1c1c26;
        background-color: var(--color-walInputBg);
        border-radius: 10px;
        margin-left: 10px;
      }
      &-filterWithIcon {
        // background-color: #1c1c26;
        background-color: var(--color-walInputBg);

        width: 150px;
        height: 40px;
        border-radius: 10px;
        // margin-left: 20px;
        margin-left: 15px;

        &-inputBox {
          display: inline-block;
          width: 80%;
          height: 100%;
          padding: 10px;
          text-align: center;
        }
      }
      &-parentBox {
        height: 84%;
        overflow-y: auto;
      }

      &-all {
        width: 240px;
        // height: 190px;
        height: 161px;
        // background-position: center;
        background-size: 98% 89%;
        margin: 0 auto;
        background-image: var(--image-emptyTransHistory);
        background-repeat: no-repeat;
        // padding-top: 32px;
        padding-left: 45px;
        padding-top: 0.5px;
      }

      &-failed, &-search,
      &-outgoing,
      &-pending {
        width: 128px;
        height: 128px;
        background-position: center;
        margin: 0 auto;
        background-size: 97% 98%;
        background-image: var(--image-failedTransHistory);
        background-repeat: no-repeat;
      }
      &-search {
        // width: 300px;
        // height: 200px;
        // background-position: center;
        // margin: 0 auto;
        background-image: var(--image-emptySearch);
        // background-repeat: no-repeat;
      }
      &-outgoing {
        // width: 300px;
        // height: 200px;
        // background-position: center;
        // margin: 0 auto;
        background-image: var(--image-outgoingTransHistory);
        // background-repeat: no-repeat;
      }
      &-pending {
        // width: 300px;
        // height: 200px;
        // background-position: center;
        // margin: 0 auto;
        background-image: var(--image-pendingTransHistory);
        // background-repeat: no-repeat;
      }
      

      &-content {
        font-family: 'poppin-medium';
        color: #82828d;
        // padding-top: 146px;
        font-size: 16px;
        // padding-top: 112px;
      }
      &-subContent {
        font-family: 'poppin-regular';
        color: #82828d;
        font-size: 13px;
      }

      &-contentBox {
        // background-color: #1c1c26;
        background-color: var(--color-walInputBg);

        padding: 15px;
        border-radius: 10px;
        margin-bottom: 5px;
        &-sendIndicationBox {
          display: flex;
          // width: 15%;
          width: 110px;
          /* text-align: center; */
          flex-direction: column;
          align-items: center;
          justify-content: center;

          div {
            font-size: 12px;
            margin-top: 3px;
          }
        }
        &-verticalline {
          width: 1.5px;
          height: 100%;
          background-color: #303041;
        }
        &-balanceBox {
          // width: 605px;
          width: 67%;
          margin-left: 20px;
          font-size: 12px;
          font-family: $bchat-font-poppin-light;
          &-amount {
            color: #69697c;
            font-size: 18px;
            font-family: $bchat-font-poppins-bold;
            cursor: pointer;
          }
          &-address {
            // width: 584px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
          }
          &-address:hover {
            color: var(--button-color);
            text-decoration: underline;
          }
        }
        &-dateandheight {
          display: flex;
          flex-direction: column;
          // justify-content: center;

          &-month {
            font-size: 14px;
            font-family: $bchat-font-poppin-semibold;
          }
          &-height {
            font-size: 12px;
            // color: #69697c;
            font-family: $bchat-font-poppin-light;
          }
        }
      }

      &-recipitentBox {
        &-adddressBox {
          // width: 601px;
          width: 40%;
          padding-right: 10px;
          font-family: $bchat-font-poppin-semibold;
          overflow-wrap: break-word;

          &-address {
            font-family: $bchat-font-poppin-light;
            font-size: 12px;
          }
        }
        &-transactionFee-header {
          font-family: $bchat-font-poppin-semibold;
        }
        &-transactionFee-text {
          font-family: $bchat-font-poppin-light;
          font-size: 12px;
        }
      }
    }
  }
}

#qr svg,
.qr-image svg {
  width: $bchat-modal-size-sm;
  height: $bchat-modal-size-sm;
  padding: $bchat-margin-xs;
  background-color: $bchat-color-white;
  // border-radius: 5px;
}

.seed-dialog {
  &__description {
    max-width: $bchat-modal-size-lg;
  }
}

.messages li {
  transition: $bchat-transition-duration !important;
}

.bchat-radio-group fieldset {
  border: none;
  margin-inline-start: $bchat-margin-sm;
  margin-top: $bchat-margin-sm;
}

.bchat-radio-group fieldset {
  input[type='radio'] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  label {
    margin-inline-end: 1em;
    cursor: pointer;
  }

  label:before {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-inline-end: 0.8em;
    border-radius: 100%;
    vertical-align: 0px;
    border: 2px solid rgba($bchat-color-white, 0.6);
    padding: 0.2em;
    background: none;
    border-color: var(--color-accent);

    background-clip: content-box;
    transition: $bchat-transition-duration;
  }

  input:hover + label:before {
    background: var(--color-accent);
  }

  input:checked + label:before {
    background: var(--color-accent);
  }
}

.bchat-id-editable {
  padding: $bchat-margin-lg;

  textarea {
    width: 30vh;
  }
}

.bchat-id-editable textarea {
  resize: none;
  overflow: hidden;
  user-select: all;
  overflow-y: auto;
  padding: 0px 5px 20px 5px;

  &.bchat-id-editable-textarea:placeholder-shown {
    padding: 10px 5px 0px 5px;
  }

  &.group-id-editable-textarea {
    margin-top: 15px;
    white-space: nowrap;
  }
}

input {
  user-select: text;
}

.contact-selection-list {
  width: 20vw;
}

.bchat-confirm-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;

  .bchat-modal {
    margin: auto auto;
  }
}

.onion__description {
  width: 62%;
  // margin: 0 auto;
  font-family: $bchat-font-poppin-medium;
  text-align: center;
  font-size: $bchat-font-h4;
  color: #82828d;
}

.onion__node-list {
  display: flex;
  flex-direction: column;
  margin: $bchat-margin-sm;
  align-items: center;
  min-width: 10vw;
  position: relative;

  .onion__node {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: $bchat-margin-xs;

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    .bchat-icon-button {
      margin: $bchat-margin-sm !important;
    }
  }

  .onion__node-list-lights {
    position: relative;
  }

  .onion__node__country {
    // margin: $bchat-margin-lg ;
    margin: 11px 14px;
    min-width: 150px;
    font-size: 16px;
    font-family: $bchat-font-poppin-regular;
    height: 50px;
  }

  .onion__growing-icon {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-bottom: 27px;
  }

  .onion__vertical-line {
    background: $onionPathLineColor;
    position: absolute;
    height: calc(100% - 2 * 42px);
    margin: 27px calc(100% / 2 - 1px);
    width: 1px;
  }
}

.bchat-nickname-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;

  .bchat-modal {
    margin: auto auto;
  }
}

.messages-container {
  .bchat-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 1;
    background-color: var(--color-cell-background);
    box-shadow: var(--color-bchat-shadow);

    svg path {
      transition: $bchat-transition-duration;
      opacity: 0.6;
      fill: var(--color-text);
    }

    &:hover svg path {
      opacity: 1;
    }
  }
}

.group-member-list {
  &__container {
    padding: 2px 0px;
    width: 100%;
    // max-height: 400px;
    overflow-y: auto;
    // margin: auto 0 auto 0;
    // border: var(--border-bchat);
    // border-bottom: var(--border-bchat);
  }

  &__selection {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__no-contacts {
    font-family: $bchat-font-poppin-medium;
    // background: var(--color-cell-background);
    text-align: center;
    padding: 20px;
    margin: 35% 0 0 0;
  }
  &__addImg {
    width: 111px;
    height: 103px;
    background-image: var(--image-EmptyContact);
    background-repeat: no-repeat;
    background-size: contain;
    /* text-align: center; */
    margin: 0 auto;
  }
}

.create-group-name-input {
  display: flex;
  justify-content: center;
  width: 100%;

  .bchat-id-editable {
    height: 60px !important;

    textarea {
      padding-bottom: 0px !important;
    }

    &-disabled {
      // border: 1px solid $bchat-color-dark-grey  !important;
      border: 1px solid $bchat-color-dark-grey;
    }
  }
}

.bchat-member-item.compact {
  height: 40px;
}

.bchat-member-item {
  cursor: pointer;
  flex-shrink: 0;
  font-family: $bchat-font-default;
  padding: 0px $bchat-margin-lg;
  height: 60px;
  display: flex;
  justify-content: space-between;
  transition: $bchat-transition-duration;
  // border:var(--color-bchat-border);
  border-bottom: var(--color-bchat-border);

  &:not(:last-child) {
    border-bottom: var(--border-bchat);
  }

  &.selected {
    background-color: var(--color-conversation-item-selected) !important;
  }

  &.zombie {
    opacity: 0.5;
  }

  &__checkmark {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-text);
    border-radius: 10px;
    margin: auto 0;
    padding: 2px;
    // opacity: 0;
    transition: $bchat-transition-duration;

    &.selected {
      opacity: 1;
      border: 2px solid green;

      svg {
        fill: var(--color-accent) !important;
      }
    }
  }

  &__info,
  &__checkmark {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: bold;
    margin-inline-start: $bchat-margin-md;
    margin-inline-end: $bchat-margin-md;
    font-family: $bchat-font-poppin-medium;
  }

  &__pubkey {
    margin-inline-start: 5px;
    opacity: 0.8;
  }

  &__avatar > div {
    margin-bottom: 0px !important;
  }
}

.module-message-detail {
  .module-message {
    pointer-events: none;
  }
}

.module-message__text {
  white-space: pre-wrap;
}

.speedButton {
  padding: $bchat-margin-xs;
  opacity: 0.6;
  transition: none;

  &:hover {
    opacity: 1;
  }

  .bchat-button {
    transition: none;

    &:hover {
      color: var(--color-text-opposite);
    }
  }
}
