.group-settings {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 25vw; */
  min-width: 300px;
  width: 25vw;
  max-width: 420px;
  // background: var(--color-cell-background);
  // background: #181821;
  background: #131313;
  border-left: var(--border-bchat);

  align-items: center;
  padding: 15px;

  &-header {
    // margin-top: $bchat-margin-lg;
    // margin-inline-start: $bchat-margin-sm;
    // margin-inline-end: $bchat-margin-sm;
    width: -webkit-fill-available;
    // display: flex;
    // flex-direction: row;
    flex-shrink: 0;

    &-titleTxt {
      color: #f0f0f0;
      font-size: 20px;
      font-weight: 400;
    }

    &-avatarBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 0;
        color: #f0f0f0;
        font-size: 18px;
        font-weight: 600;
      }
    }

    &-chatIdBox {
      border-radius: 12px;
      border: 1px solid #202329;
      padding: 20px;
      p {
        margin: 0;
        color: #f0f0f0;
        font-size: 18px;
        font-weight: 500;
      }
      .id-wrapper {
        color: #159b24;
        border-radius: 16px;
        border: 1px solid #3a3a41;
        background: #1c1f25;
        padding: 15px;
        .txt {
          width: 90%;
          color: #108d32;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
        }
      }
    }

    &-closeBox {
      margin-left: 10px;
      display: flex;
      cursor: pointer;
      width: 28px;
      height: 28px;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: var(--color-profile-close);
        border-radius: 20px;
      }
    }
    .module-avatar {
      margin: auto;
    }
  }

  &-nameEditBox {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    h2 {
      margin-right: 10px;
    }
  }

  h2 {
    word-break: break-word;
    max-width: 82%;
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 600;
    margin: 0;
  }
  &-media-txt {
    color: #a7a7ba;
    font-size: 16px;
    font-weight: 500;
  }

  .description {
    margin: $bchat-margin-md 0;
    min-height: 4rem;
    width: inherit;
    color: var(--color-text);
    background: var(--color-cell-background);
    border: var(--border-bchat);

    text-align: center;
    display: none;
  }

  &-item {
    display: flex;
    align-items: center;
    min-height: 2rem;
    // font-size: 0.8rem;
    // color: var(--color-text);
    // background: var(--color-cell-background);
    // background: #181821;
    // border-top: var(--border-bchat);
    // border-bottom: var(--color-bchat-border);
    // border-bottom: var(--border-bchat);

    // width: -webkit-fill-available;
    padding: 0 5px;
    transition: $bchat-transition-duration;
    cursor: pointer;
    color: #f0f0f0;
    /* font-family: Poppins; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 500;

    &:hover {
      background: var(--color-clickable-hovered);
    }
  }

  // no double border (top and bottom) between two elements
  &-item + &-item {
    border-top: none;
  }

  .profile-name {
    display: flex;
    // margin-top: $bchat-margin-sm;
    // margin-bottom: $bchat-margin-sm;
    justify-content: center;
    // width: 100%;
    // font-family: $bchat-font-default;
    font-weight: 400;
    align-items: center;

    .inputBox {
      display: flex;
      // width: 200px;
      padding-left: 45px;
    }

    .saveIcon {
      // width: 35px;
      color: var(--color-accent);
      cursor: pointer;
      // margin: auto 0;
      margin-left: 7px;
    }

    input {
      height: 42px;
      border-radius: 16px;
      text-align: center;
      font-size: $bchat-font-md;
      background: var(--color-input-background);
      color: var(--color-text);
      border: 1px solid #46465d;
      outline: none;
    }

    &-uneditable {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-right: 25px;
      font-family: $bchat-font-default;

      p {
        font-size: 16px;
        padding: 0px $bchat-margin-sm;
        margin-left: 33px;
        line-height: 22px;
      }

      .qr-icon-btn {
        width: 30px;
        height: 30px;
        // left: 103px;
        position: relative;
        cursor: pointer;

        &:hover {
          color: #128b17;
        }
      }

      .bchat-icon-button {
        padding: 0px;
      }
    }
  }
  .grp_btn_wrapper {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #202329;
    /* background: #131313; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .add-btn {
      border-radius: 50px;
      background: #108d32;
      color: #f0f0f0;
      font-size: 12px;
      font-weight: 500;

      padding: 0 7px 0 0;
    }
  }

  // bottom button
  .bchat-button.square-outline.danger {
    margin-top: auto;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    height: $composition-container-height;
    flex-shrink: 0;
    align-items: center;
    border: none;
    border-top: var(--border-bchat);
    // background-color: var(--color-composeMsgInput);
    background-color: var(--color-leaveGrpBtn);
    font-family: $bchat-font-poppin-regular;
  }

  .module-empty-state {
    text-align: center;
  }
  .img-wrapper {
    .module-media-gallery__content {
      overflow-y: hidden;
      height: 303px;
    }
  }
  .module-attachment-section__items {
    &-media {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 15px;
      column-gap: 15px;
      width: 100%;
    }

    &-documents {
      width: 100%;
    }
  }

  .module-media {
    &-gallery {
      &__tab-container {
        padding-top: 1rem;
      }

      &__tab {
        color: var(--color-text);

        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.6rem;
        opacity: 0.8;

        &--active {
          border-bottom: none;
          opacity: 1;
          border-radius: 16px;
          background: #2e333d;
          // &:after {
          //   content: ''; /* This is necessary for the pseudo element to work. */
          //   display: block;
          //   margin: 0 auto;
          //   width: 70%;
          //   padding-top: 0.5rem;
          //   border-bottom: var(--border-unread);
          // }
        }
      }

      &__content {
        padding: $bchat-margin-xs;
        margin-bottom: 1vh;

        .module-media-grid-item__image,
        .module-media-grid-item {
          // height: calc(
          //   30vw / 4
          // ); //.group-settings is 22vw and we want three rows with some space so divide it by 4
          // width: calc(
          //   29vw / 4
          // ); //.group-settings is 22vw and we want three rows with some space so divide it by 4
          // margin: auto;
          height: calc(22vw / 4);
          width: calc(26vw / 4);
          border-radius: 8px;
        }
      }
    }
  }

  &__leaveBtn {
    width: 100%;
    height: 40px;
    background-color: var(--color-cancelBtn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
    color: red;
    font-family: $bchat-font-poppin-medium;
    cursor: pointer;

    &:hover {
      background-color: var(--color-leave-button);
    }
  }
}

.conversation-content {
  display: flex;
  height: inherit;

  &-left {
    flex-grow: 1;
  }
}
