.bchat {
  &-head {
    color:var(--color-text);
  }
  &-fullscreen {
    width: 100%;
    height: 100%;
    background-color: var(--color-body-bg);
    // background-color:  #524f5e;
  }
  .registration-inputfields {
    background-color: #128B17;
  }
  &-content {
    .bchat-button.brand-outline.brand.green:hover {
      // background-color: var(--color-accent);
      background-color: $bchat-button-color;
    }
    &-left
    {
      background-color:var(--color-body-bg); 
      justify-content: center;
    }
    &-logo{
      width: 400;
      height: 500;
      background-image: url("images/bchat/BChat_black_logo.gif");
    }
    &-accent {
      &-text {
        font-family: $bchat-font-poppins-bold;
        .title {
          font-size: 31px;
          font-weight: bold;
          line-height: 37px;
          text-align: center;
          color:var(--color-text);
          padding: 2px 0px 14px 0;
        }
        .title2 {
          font-size: 14px;
          padding: 7px 0px 8px 0px;
          line-height: 17px;
          text-align: center;
          color:var(--color-Bchat-hint);
          font-family: $bchat-font-poppin-regular;
        }
      }
    }

    &-registration {
      padding-inline-end: 128px;
    }

    &-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 17px 20px;
    }

    &-body {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &-registration {  
    &-container {
      display: flex;
      flex-direction: column;
      width: 500px;

      .bchat-button {
        width: 100%;
      }
    }

    &__content {
      width: 92%;
      padding-top: 20px;
      margin-left: 26px;
    }
    &__content1 {
      width: 100%;
      padding-top: 20px;
      margin-left: 26px;
    }

    @mixin registration-label-mixin {
      color: var(--color-text);

      font-weight: bold;
      padding: 20px;
    }

    &__welcome-bchat {
      color: var(--color-text);
      // color: white;
      font-family: $bchat-font-poppins-bold;
      font-weight: bold;
      padding: 30px 50px !important;
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      padding-top: 2em;
      text-align: center;
    }

    &__unique-bchat-id {
      @include registration-label-mixin;
      text-align: center;
    }

    &__entry-fields {
      margin: 0px;
      padding-bottom: 40px;
    }

    &__backbutton {
      position: relative;
      color: white;
      top: 33px;
      width: 30px;
      height: 30px;
    }

    &-header {
      text-align: center;
      color:var(--color-text);
      font-size: 24px;
      padding-bottom: 25px;
      font-weight: 600;
      font-family: $bchat-font-poppins-bold;
    }
    
    &-hr {
      width: 75%;
      color: #353543;
      margin-top: 37px;
    }
    
    &-goback-icon {
      position: relative;
       color: white;
    }

    &-loadingGif {
      background: #101010ad;
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0px;
      right: 0px;
      display: flex;
      align-items: center;
    }
   
    &-welcome-screen-container {
      width: 75%;
      margin: 0 auto;
      text-align: center;
    }

    &-welcome-screen-goback {
      position: relative;
      color: white;
      top: 32px;
      width: 30px;
      height: 30px;
    }

    &-welcome-screen-back {
      padding: 20px;
      background-color: var(--color-body-bg);
      border-radius:  10px;
      margin: 10px 0 37px;
      height: 375px;
      box-shadow: 0px 0px 6px 0px #d1d1d1;
    }
    
    &-welcome-screen-chat {
      color: var(--color-text);
      font-size: 18px;
      margin: 0;
      padding: 10px 0px;
      font-family: $bchat-font-poppin-semibold;
    }

    &-welcome-screen-chat-content {
      width: 80%;
      display: flex;
      font-size: 10px;
      color: #82828D;
      margin: 10px auto;
    }

    &-welcome-screen-chat-value {
      background-color:var(--color-inboxBgColor);
      border-radius: 13px;
      display: flex;
      padding: 0px 15px;
      font-size: 12px;
      font-family: $bchat-font-poppin-medium;
      box-shadow: 0px 0px 6px 0px #19192424;
    }

    &-recovery-phrase {
      padding: 5px 20px;
      background-color: var(--color-inboxBgColor);
      border-radius: 12px;
      margin: 10px 0 25px;
      display: flex;
      width: 100%;
      height: 135px;
        //  justifyContent: "center",
      font-size: 12px;
      color: #0BB70F;
      align-items: center;
      box-shadow: 0px 0px 6px 0px #19192424;
    }

    &-recovery-phrase-textarea {
      outline: none;
      border: none;
      resize: none;
      text-align: center;
      height: 118px;
      padding-top: 18px;
    }
  }

  &-restore-seed {

    &__address-container {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    &-text-box {
      background-color: var(--color-inboxBgColor);
      width: 100%;
      min-height: 60px;
      border-radius: 13px;
      text-align: center;
      color: #0BB70F;
      box-shadow: 0px 0px 6px 0px #19192424;
    }

    &-text-area {
     outline: none;
     border: none;
     resize: none;
     text-align: center;
     padding: 15px;
    }

    ::placeholder {
      color: #77778B;
      font-family: $bchat-font-poppin-semibold;
    }

    &-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      background-color: #353543;
      background-size: 16px;
      border-radius: 35px;
      background-position: center;
      cursor: pointer;
    }
    
    &-clear {
      background: url("images/bchat/clear.svg no-repeat") no-repeat;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 290px;       //350
      right: 180px;
      cursor: pointer;
      background-size: cover;
    }

    &-textbox-message {
      color: #77778B;
      padding-top: 10px;
      font-size: 12px;
      padding-left: 60px;
    }

    &-or {
      color: white;
      margin-top: 40px;
      text-align: center;
    }
  }  

  &-input-floating-label-show-hide {
    padding-inline-end: 30px;
  }

  &-input-with-label-container {
    height: 23px;
    // height: 46.5px;
    // width: 100px;
    font-family: $bchat-font-poppins-bold;
    color: var(--color-text);

    padding: 2px 0 2px 0;
    transition: opacity $bchat-transition-duration;
    opacity: 1;
    position: relative;

    label {
      line-height: 14px;
      opacity: 0;
      // color: var(--color-text);
      color: var(--color-text);

      font-size: 10px;
      // line-height: 14px;
      line-height: 0px;
      position: absolute;
      top: 0px;
      left: 58px;

    }

    &.filled {
      opacity: 1;
      margin-top: -20px;
      margin-left: 4px;
      font-family: "poppin-regular";
    }

    &.error {
      color: var(--color-destructive);
    }

    input {
      border: none;
      border-radius: 4px;
      outline: 0;
      height: 50px;
      width: 75%;
      background: var(--color-body-bg);
      // background: transparent;
      // color: var(--color-text);
      color: #0BB70F;
      padding: 0px 8px 0px 15px;
      font-family: $bchat-font-poppin-regular;
      font-size: 12px;
      line-height: 14px;
      position: absolute;
      top: 80%;
      transform: translateY(-50%);
      margin-left: 58px;
      box-shadow: 0px 0px 6px 0px #19192424;
    }
    ::placeholder
    {
      color:#77778B;
    }

    hr {
      border: var(--border-bchat);

      width: 100%;
      position: absolute;
      bottom: 0px;
    }

    .bchat-icon-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
    }
  }

  &-terms-conditions-agreement {
    // padding-top: $bchat-margin-md;
    padding-left: 12px;
    @include bchat-color-subtle(var(--color-text));
    text-align: center;
    font-size: 12px;
    // font-family: $bchat-font-poppins-bold;
    font-weight: normal;

    a {
      white-space: nowrap;
      text-decoration: none;
      font-family: $bchat-font-poppins-bold;
      @include bchat-color-subtle(var(--color-text));
      // @include bchat-color-subtle(white);

      // transition: $bchat-transition-duration;

      &:visited &:link {
        @include bchat-color-subtle(var(--color-text));
        @include bchat-color-subtle(white);
      }

      &:hover {
        // color: var(--color-text);
        color: #128B17;
      }
    }
  }

  &-description-long {
    padding-top: 0;
    padding-bottom: 20px;
    @include bchat-color-subtle(var(--color-text));

    text-align: center;
    font-size: 12px;
    line-height: 20px;

    ol {
      margin-inline-start: 20px;
      padding: 0px;
      text-align: justify;
    }
  }

  &-id-editable {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid subtle(#353535);
    margin-bottom: 20px;

    textarea {
      width: 100%;
      outline: 0;
      border: none;
      background: transparent;
      color: var(--color-TextAreaColor);

      font-size: 15px;
      line-height: 18px;
      text-align: center;
      overflow-wrap: break-word;
      padding: 0px 5px 20px 5px;
      display: inline-block;
      font-family: $bchat-font-mono;
      user-select: all;
      overflow: hidden;
      resize: none;
    }
  }
}

[contenteditable='true']:empty::before {
  content: attr(placeholder);
  @include bchat-color-subtle(var(--color-text));

  font-size: 13px;
}
