.bchat {
  &-head {
    // color: var(--color-text);
    font-weight: 700;
    font-size: 32px;
    color: #f0f0f0;
  }

  &-fullscreen {
    width: 100%;
    height: 100%;
    background-color: var(--color-body-bg);
    // background-color:  #524f5e;
  }

  .registration-inputfields {
    background-color: #128b17;
  }

  &_conversation-doodle {
    // background-image: var(--image-BgDoodle);
    width: 100%;
    height: 100%;
  }

  &-content {
    .bchat-button.brand-outline.brand.green:hover {
      background-color: $bchat-button-hovor-color;
    }

    &-left {
      background-color: var(--color-body-bg);
      justify-content: center;
    }

    &-logo {
      width: 400;
      height: 370;
    }

    &-accent {
      &-text {
        font-family: $bchat-font-open-sans;
        font-weight: 800;
        width: 390px;

        .title {
          font-size: 40px;
          // font-weight: bold;
          line-height: 48px;
          // text-align: center;
          color: var(--color-text);
          margin-top: $bchat-margin-xl;
          margin-bottom: $bchat-margin-md;
        }

        .title2 {
          font-size: 20px;
          // padding: 7px 0px 8px 0px;
          line-height: 32px;
          // text-align: center;
          // color:var(--color-Bchat-hint);
          color: #a7a7ba;
          font-family: $bchat-font-open-sans;
          font-weight: 300;
          margin-bottom: $bchat-margin-xl;
          // margin-top: $bchat-margin-md;
        }
      }
    }

    &-registration {
      padding-inline-end: 128px;
    }
    .signUp-btn {
      .bchat-button.default.primary:hover {
        background-color: #00B72A !important;
      }

    }

    .signIn-btn {
      .bchat-button.default-outline.primary:hover {
        background-color: #108d32 !important;
      }
    }
    &-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 17px 20px;
    }

    &-body {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &-registration {
    &-container {
      display: flex;
      flex-direction: column;
      // width: 470px;
      height: 100%;
      .warning-notes {
        width: 97%;
        margin-top: 30px;
        line-height: 25px;
        color: #a9aeba;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;

        span {
          color: #ff9649;
          font-size: 16px;
          font-weight: 500;
        }

        strong {
          font-size: 16px;
          color: #ebebeb;
        }
      }
    }

    &__content {
      // width: 92%;
      // padding-top: 20px;
      // margin-left: 26px;
      margin-bottom: $bchat-margin-md;
      width: 417px;
    }
   
    &__content1 {
      width: 100%;
      padding-top: 20px;
      margin-left: 26px;
    }

    @mixin registration-label-mixin {
      color: var(--color-text);

      font-weight: bold;
      padding: 20px;
    }

    &__welcome-bchat {
      color: var(--color-text);
      // color: white;
      font-family: $bchat-font-poppins-bold;
      font-weight: bold;
      // padding: 0px 50px !important;
      font-size: 32px;
      // font-weight: bold;
      line-height: 26px;
      padding-top: 2em;
      text-align: center;
    }

    &__unique-bchat-id {
      @include registration-label-mixin;
      text-align: center;
    }

    &__entry-fields {
      margin: 0px;
      padding-bottom: 25px;
      padding-top: 30px;
      // margin-top: 40px;
    }

    &__backbutton {
      position: relative;
      color: white;
      top: 39px;
      width: 30px;
      height: 30px;

      &:hover {
        background-color: #52505f;
        border-radius: 20px;
      }
    }

    &-header {
      // text-align: center;
      color: #f0f0f0;
      font-size: 32px;
      padding-bottom: 25px;
      font-weight: 700;
      padding-left: 35px;
    }

    &-hr {
      width: 78%;
      // color: #353543;
      // margin-top: 25px;
      border-color: #23232f;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    &-goback-icon {
      position: relative;
      // color: #A9AEBA;
      margin-right: $bchat-margin-xs;

      &:hover {
        background-color: #2e333d;
        border-radius: 8px;
      }
    }

    &-loadingGif {
      background: #101010ad;
      position: absolute;
      width: 55%;
      height: 100%;
      top: 0px;
      right: 0px;
      display: flex;
      align-items: center;
    }

    &-welcome-screen-container {
      width: 450px;
      // margin: 0 auto;
      // text-align: center;
      color: #f0f0f0;

      .iconBox {
        width: 26px;
        height: 26px;
        // background-color: var(--color-inboxBgColor);
        // background-size: 16px;
        // border-radius: 35px;
        // background-position: center;
        cursor: pointer;
        // margin-top: 207px;
        // margin-left: 35px;
        // display: flex;
        // align-items: center;
        justify-content: flex-end;
      }

      .iconBox:hover {
        // transform: scale(1.1);
        // color: #1ced23;
        background-color: #2e333d;
        border-radius: 10px;
        // opacity: 0.5;
      }
    }

    &-welcome-screen-goback {
      position: relative;
      color: white;
      top: 32px;
      width: 30px;
      height: 30px;

      &:hover {
        background-color: #52505f;
        border-radius: 20px;
      }
    }

    // &-welcome-screen-back {
    //   // padding: 20px;
    //   // background-color: var(--color-body-bg);
    //   // border-radius: 10px;
    //   margin: 10px 0 37px;
    //   height: 375px;
    //   // box-shadow: 0px 0px 6px 0px #d1d1d1;
    // }

    &-welcome-screen-chat {
      // color: var(--color-text);
      font-size: 18px;
      margin: 0;
      padding: 10px 0px;
      font-weight: 500;
      // font-family: $bchat-font-poppin-semibold;
    }

    &-welcome-screen-chat-content {
      // width: 80%;
      display: flex;
      font-size: 16px;
      color: #a7a7ba;
      font-weight: 300;

      p {
        margin-top: 10px;
      }
    }

    &-welcome-screen-chat-value {
      border-radius: 16px;
      border: 1px solid #3a3a41;
      background: #202329;
      display: flex;
      padding: 10px 30px;
      font-size: 16px;
      /* box-shadow: 0px 0px 6px 0px #19192424; */
      font-weight: 500;
      // /* padding: 10px;
    }

    &-recovery-phrase {
      padding: 10px 10px 10px 20px;
      // background-color: var(--color-inboxBgColor);
      // border-radius: 12px;
      // margin: 10px 0 25px;
      display: flex;
      /* width: 100%; */
      // height: 135px;
      /* font-size: 12px; */
      /* color: #0bb70f; */
      // align-items: center;

      border-radius: 16px;
      border: 1px solid #46465d;
      background: #202329;
      // height: 118px;
    }

    // &-recovery-phrase-textarea {
    //   outline: none;
    //   border: none;
    //   resize: none;
    //   text-align: center;
    //   height: 118px;
    //   padding-top: 18px;
    // }

    &-recovery-phrase-txt {
      color: #f0f0f0;
      font-size: 18px;
      margin: 0;
      padding: 10px 10px 10px 0px;
    }

    &-recovery-phrase-hintTxt {
      color: #a9aeba;
      font-size: 16px;

      span {
        color: #ff9649;
      }
    }
  }

  &-restore-seed {
    // &__address-container {
    // width: 90%;
    // margin: 0 auto;
    // }

    &-parent-box {
      // display: flex;
      // flex-direction: row;
      // width: 100%;
      // margin-bottom: 47px;
      margin-bottom: 25px;
    }

    &-text-box {
      width: 450px;
      display: flex;
      border-radius: 16px;
      border: 1px solid #46465d;
      background: #202329;
      padding: 15px;
      color: #f0f0f0;
    }

    &-text-area {
      outline: none;
      border: none;
      resize: none;
      // text-align: center;
      // padding: 15px;
      width: 90%;
      min-height: 95px;
      overflow-y: hidden;
    }

    ::placeholder {
      color: #858598;
      font-family: $bchat-font-default;
      font-weight: 400;
    }

    &-icon-box {
      display: flex;
      /* width: 24vw; */
      /* background: antiquewhite; */
      /* align-items: center; */
      /* margin-left: 1.5vw; */
      /* position: relative; */
      justify-content: flex-end;
      width: 10%;

      .paste-icon {
        // background-image: url('../images/bchat/paste.svg') no-repeat;
        // background: url(images/bchat/paste.svg) no-repeat;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;

        &:hover {
          // opacity: 0.5;
          // background-color: var(--color-profile-close);
          background-color: #2e333d;
        }
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      background-color: #353543;
      background-size: 16px;
      border-radius: 35px;
      background-position: center;
      cursor: pointer;
    }

    &-clear {
      background: url('images/bchat/clear.svg') no-repeat;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 290px; //350
      right: 180px;
      cursor: pointer;
      background-size: cover;
    }

    &-textbox-message {
      color: #a7a7ba;
      // padding-top: 10px;
      font-size: 16px;
      margin: 0;
      margin-bottom: 5px;
      // padding-left: 60px;
    }

    &-or {
      color: white;
      text-align: center;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  &-input-floating-label-show-hide {
    padding-inline-end: 30px;
  }

  &-input-with-label-container {
    height: 70px;
    // height: 46.5px;
    width: 450px;
    // font-family: $bchat-font-poppins-bold;
    // color: var(--color-text);
    font-size: $bchat-font-h4;
    // padding: 2px 0 2px 0;
    // transition: opacity $bchat-transition-duration;
    // opacity: 1;
    position: relative;

    label {
      line-height: 14px;
      opacity: 0;
      // color: var(--color-text);
      color: var(--color-text);

      font-size: 10px;
      // line-height: 14px;
      line-height: 0px;
      position: absolute;
      top: 0px;
      left: 58px;
    }

    &.filled {
      opacity: 1;
      margin-top: -20px;
      margin-left: 4px;
      font-family: 'poppin-regular';
    }

    &.error {
      color: var(--color-destructive);
    }

    input {
      // border: none;
      // border-radius: 4px;
      outline: 0;
      height: 100%;
      width: 100%;
      // background: var(--color-body-bg);
      // background: transparent;
      // color: var(--color-text);
      color: var(--color-input-text);
      // padding: 0px 8px 0px 15px;
      // font-family: $bchat-font-poppin-regular;
      // font-size: 12px;
      // line-height: 14px;
      // position: absolute;
      // top: 80%;
      // transform: translateY(-50%);
      // margin-left: 58px;
      // box-shadow: 0px 0px 6px 0px #19192424;
      padding-left: 19px;
      border-radius: 16px;
      border: 1px solid #46465d;
      background: #202329;
    }

    ::placeholder {
      color: #858598;
      font-family: $bchat-font-default;
      font-weight: 400;
    }

    input::-webkit-calendar-picker-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      color: white;
      opacity: 1;
      background-image: url('../images/bchat/calendar.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 27px;
      // margin-right: 20px;
      border-radius: 10px;
      // padding: 10px;
      cursor: pointer;

      &:hover {
        // width: 35px;
        // height: 35px;
        // padding: 10px;
        background-color: #2e333d;
      }
    }

    hr {
      border: var(--border-bchat);

      width: 100%;
      position: absolute;
      bottom: 0px;
    }

    .bchat-icon-button {
      position: absolute;
      top: 36%;
      // transform: translateY(-50%);
      right: 27px;
      color: var(--color-icon);
    }
  }

  &-terms-conditions-agreement {
    // padding-top: $bchat-margin-md;
    // padding-left: 12px;
    @include bchat-color-subtle(var(white));
    text-align: center;
    font-size: 14px;
    // font-family: $bchat-font-poppins-bold;
    font-weight: normal;
    width: 417px;

    a {
      white-space: nowrap;
      text-decoration: none;
      color: #a7a7ba;
      // opacity: 0.8;
      font-weight: 400;
      // @include bchat-color-subtle(var(--color-text));
      // @include bchat-color-subtle(white);

      // transition: $bchat-transition-duration;

      &:visited &:link {
        @include bchat-color-subtle(var(--color-text));
        @include bchat-color-subtle(white);
      }

      &:hover {
        // color: var(--color-text);
        color: #128b17;
      }
    }
  }

  &-description-long {
    padding-top: 0;
    padding-bottom: 20px;
    @include bchat-color-subtle(var(--color-text));

    text-align: center;
    font-size: 12px;
    line-height: 20px;

    ol {
      margin-inline-start: 20px;
      padding: 0px;
      text-align: justify;
    }
  }

  &-id-editable {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid var(--color-search-border);
    // background: #202329;

    textarea {
      width: 100%;
      outline: 0;
      border: none;
      font-size: 16px;
      /* background: transparent; */
      /* font-size: 15px; */
      /* line-height: 18px; */
      /* text-align: center; */
      overflow-wrap: break-word;
      // padding: 1px 5px 20px 5px;
      display: inline-block;
      user-select: all;
      overflow: hidden;
      resize: none;
    }
  }
}

[contenteditable='true']:empty::before {
  content: attr(placeholder);
  @include bchat-color-subtle(var(--color-text));

  font-size: 13px;
}
