.group-settings,.contact-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 25vw; */
  min-width: 300px;
  width: 25vw;
  max-width: 420px;
  // background: var(--color-cell-background);
  // background: #181821;
  // background: #131313;
  border: 1px solid var(--color-profile-info-border);

  align-items: center;
  padding: 15px;
  background: var(--color-inbox-background);

  position: absolute;
  right: 0px;
  z-index: 99;

  &-header {
    // margin-top: $bchat-margin-lg;
    // margin-inline-start: $bchat-margin-sm;
    // margin-inline-end: $bchat-margin-sm;
    width: -webkit-fill-available;
    // display: flex;
    // flex-direction: row;
    flex-shrink: 0;

    &-title-wrapper {
      background-color: var(--color-profile-header-bg);
      border-radius: 16px;
    }

    &-titleTxt {
      // color: #f0f0f0;
      font-size: 20px;
      font-weight: 400;
    }

    &-avatarBox {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0;
        // color: #f0f0f0;
        font-size: 18px;
        font-weight: 600;
      }
    }

    &-chatIdBox {
      border-radius: 12px;
      border: 1px solid var(--color-search-border);
      padding: 20px;

      p {
        margin: 0;
        // color: #f0f0f0;
        font-size: 18px;
        font-weight: 500;
      }

      .id-wrapper {
        color: #159b24;
        border-radius: 16px;
        border: 1px solid var(--color-chatId-border);
        background: var(--color-profile-id-bg);
        padding: 15px;

        .txt {
          width: 90%;
          color: #108d32;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
        }
      }
    }

    &-moderator {
      &-wholeBox {
        width: 95%;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 1px solid var(--color-setting-header-border);
        margin: 10px 15px 15px;
        padding: 15px;

        .addButton {
          background-color: var(--green-color);
          border-radius: 25px;
          /* width: 100px; */
          text-align: center;
          justify-content: center;
          padding: 10px 45px;
          font-size: 18px;
        }

        .removeButton {
          background-color: var(--color-profile-header-bg);
          border-radius: 25px;
          /* width: 100px; */
          text-align: center;
          justify-content: center;
          padding: 10px 30px;
          font-size: 18px;
          margin-left: 10px;
        }
      }

      &-txtBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &-closeBox {
      margin-left: 10px;
      display: flex;
      cursor: pointer;
      width: 28px;
      height: 28px;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: var(--color-profile-close);
        border-radius: 20px;
      }
    }

    .module-avatar {
      margin: auto;
    }
  }

  &-nameEditBox {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    h2 {
      margin-right: 10px;
    }
  }

  h2 {
    word-break: break-word;
    max-width: 82%;
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 600;
    margin: 0;
  }

  &-media-txt {
    color: var(--color-profile-info-media-title);
    font-size: 16px;
    font-weight: 500;
  }

  .description {
    margin: $bchat-margin-md 0;
    min-height: 4rem;
    width: inherit;
    color: var(--color-text);
    background: var(--color-cell-background);
    border: var(--border-bchat);

    text-align: center;
    display: none;
  }

  &-item {
    display: flex;
    align-items: center;
    min-height: 2rem;
    // font-size: 0.8rem;
    // color: var(--color-text);
    // background: var(--color-cell-background);
    // background: #181821;
    // border-top: var(--border-bchat);
    // border-bottom: var(--color-bchat-border);
    // border-bottom: var(--border-bchat);

    // width: -webkit-fill-available;
    // padding: 0 5px;
    transition: $bchat-transition-duration;
    // cursor: pointer;
    color: var(--color-text);
    /* font-family: Poppins; */
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 500;

    // &:hover {
    //   background: var(--color-clickable-hovered);
    // }
  }

  // no double border (top and bottom) between two elements
  &-item + &-item {
    border-top: none;
  }

  .profile-name {
    display: flex;
    // margin-top: $bchat-margin-sm;
    // margin-bottom: $bchat-margin-sm;
    justify-content: center;
    // width: 100%;
    // font-family: $bchat-font-default;
    font-weight: 400;
    align-items: center;

    .inputBox {
      display: flex;
      // width: 200px;
      padding-left: 45px;
    }

    .saveIcon {
      // width: 35px;
      color: var(--color-accent);
      cursor: pointer;
      // margin: auto 0;
      margin-left: 7px;
    }

    input {
      height: 42px;
      border-radius: 16px;
      text-align: center;
      font-size: $bchat-font-md;
      background: var(--color-input-background);
      color: var(--color-text);
      border: 1px solid #46465d;
      outline: none;
    }

    &-uneditable {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-right: 25px;
      font-family: $bchat-font-default;

      p {
        font-size: 16px;
        padding: 0px $bchat-margin-sm;
        margin-left: 33px;
        line-height: 22px;
      }

      .qr-icon-btn {
        width: 30px;
        height: 30px;
        // left: 103px;
        position: relative;
        cursor: pointer;

        &:hover {
          color: #128b17;
        }
      }

      .bchat-icon-button {
        padding: 0px;
      }
    }
  }

  .disppear-wrapper {
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: var(--color-profile-id-bg);
    margin-top: 15px;
    padding: 0 15px;
    // color: #f0f0f0;
    cursor: pointer;
  }

  .disappear-option {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 7px;
    margin: 15px 0;
    text-align: left;

    span {
      padding: 0 10px;
      color: #a7a7ba;
      font-size: 16px;
      font-weight: 400;
    }

    span:hover {
      border-radius: 16px;
      background: var(--color-disappear-time-hover);
      cursor: pointer;
    }
  }

  .hr-line {
    width: 100%;
    height: 4px;
    background: var(--color-modal-footer);
    margin-bottom: 15px;
  }

  .grp_btn_wrapper {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #202329;
    /* background: #131313; */
    padding: 10px;
    margin: 15px 0px;

    .add-btn {
      border-radius: 50px;
      background: #108d32;
      color: #f0f0f0;
      font-size: 12px;
      font-weight: 500;
      padding: 10px 7px 10px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .list-wrapper {
      padding-top: 10px;
      max-height: 294px;
      overflow: auto;

      .bchat-member-item {
        height: 60px;
      }
      .group-member-list {
        .bchat-member-item:hover {
          background: unset !important;
          cursor: default;
        }
      }
    }
  }

  // bottom button
  .bchat-button.square-outline.danger {
    margin-top: auto;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    height: $composition-container-height;
    flex-shrink: 0;
    align-items: center;
    border: none;
    border-top: var(--border-bchat);
    // background-color: var(--color-composeMsgInput);
    background-color: var(--color-leaveGrpBtn);
    font-family: $bchat-font-poppin-regular;
  }

  .module-empty-state {
    text-align: center;
  }

  .grp_more_member {
    .module-media-gallery__content {
      height: 191px !important;
    }
  }

  .img-wrapper {
    .module-media-gallery__content {
      overflow-y: hidden;
      // height: 303px;
      height: calc(100vh - 679px);
      margin-top: 15px;
    }
  }

  .module-attachment-section__items {
    &-media {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 15px;
      column-gap: 15px;
      width: 100%;
    }

    &-documents {
      width: 100%;
    }
  }

  .module-media {
    &-gallery {
      &__tab-container {
        padding-top: 1rem;
      }

      &__tab {
        color: var(--color-text);

        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.6rem;
        opacity: 0.8;

        &--active {
          border-bottom: none;
          opacity: 1;
          border-radius: 16px;
          background: var(--color-profile-header-bg);
          // &:after {
          //   content: ''; /* This is necessary for the pseudo element to work. */
          //   display: block;
          //   margin: 0 auto;
          //   width: 70%;
          //   padding-top: 0.5rem;
          //   border-bottom: var(--border-unread);
          // }
        }
      }

      &__content {
        padding: $bchat-margin-xs;
        margin-bottom: 1vh;

        .module-media-grid-item__image,
        .module-media-grid-item {
          // height: calc(
          //   30vw / 4
          // ); //.group-settings is 22vw and we want three rows with some space so divide it by 4
          // width: calc(
          //   29vw / 4
          // ); //.group-settings is 22vw and we want three rows with some space so divide it by 4
          // margin: auto;
          height: calc(22vw / 4);
          width: calc(26vw / 4);
          border-radius: 8px;
        }
      }
    }
  }

  &__leaveBtn {
    width: 100%;
    height: 40px;
    background-color: var(--color-cancelBtn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
    color: red;
    // font-family: $bchat-font-poppin-medium;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: var(--color-leave-button);
    }
  }
}

.contact-list{
  padding: 0;
  min-width: unset;
  max-width: unset;
  width: 410px;
  &-header{
    padding:10px 15px;
  }
  .bchat-search-input{
    margin:5px 15px 10px;
    width: -webkit-fill-available;
    flex-shrink: 0
  }
  &-inner-wrapper{
    padding: 0 5px 0 5px;
    overflow: auto;
    height: 100%;
  }
  .address-content-box{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 10px;
     
    &.selected{
      border-radius: 16px;
      background-color: var(--color-emoji-panel-bg);
    }
    &:hover{
      border-radius: 16px;
      background-color: var(--color-emoji-panel-bg);
    }
    .username{
      background-color: unset;
    padding: unset;
    color: unset;
    font-size: 16px;
    font-weight: 400;
    }
    .address{
      color: var(--color-last-msg-txt);
      font-weight: 300;
      font-size: 12px;
    }
  }
  .button-wrapper{
    background-color: var(--color-emoji-panel-bg);
  }
}
.conversation-content {
  display: flex;
  height: inherit;

  &-left {
    flex-grow: 1;
  }
}
