.message-detail-wrapper {
  // height: calc(100% - 48px);
  // width: 100%;
  // overflow-y: auto;
  // z-index: 2;
  .bchat-message-wrapper {
    padding: 0;
  }
}

.public-chat-message-wrapper {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.group-invitation-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
  margin-top: 5px;
}
.group-invitation-container-incoming{
  align-items: flex-start;
}
.group-invitation-container-outgoing{
  align-items: flex-end;
}
.payment {
  display: inline-block;
  padding: 16px;
  border-radius: 16px;
  box-shadow: none;
  cursor: pointer;
  background: var(--color-received-message-background);
  margin-left: 2px;

  &.invitation-outgoing {
    align-self: flex-end;
    background-color: #108d32;
    color: white;
    margin-right: 3px;
    margin-left: unset;
  }
  .contents-incoming,
  .contents {
    display: flex;
    align-items: center;
    min-width: 300px;
    max-width: 465px;
    margin: 0px 0px 7px;
    background-color: #0a6f0a;
    border-radius: 10px;
    padding-left: 15px;
    height: 80px;
  }
  .contents-incoming {
    background-color: var(--color-untrust-media-bg);
    .amount {
      color:var(--color-text);
    }
  }
  .amount {
    font-family: $bchat-font-open-sans;
    color: #f0f0f0;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
  }
  .hint-out,
  .hintTxt {
    display: flex;
    font-weight: 400;
    .txn-status {
      margin-right: 10px;
      overflow: hidden;
      color: #f0f0f0;
      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .timeStamp {
    color: #858598;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    text-align: end;
    padding-right: 18px;
  }
  .timeStamp-outgoing {
    color: #f0f0f0;
  }
}
.payment:hover {
  opacity: 0.9;
}
.inviteWrapper-incoming,
.payment-Wrapper-incoming {
  align-self: flex-start;
}
.inviteWrapper-outgoing,
.payment-Wrapper-outgoing {
  // align-self: flex-end;
  align-items: center;
  display: flex;
}



.group-invitation {
  background: var(--color-received-message-background);
  cursor: pointer;
  border-radius: 16px;
  display: inline-block;
  padding: 15px;
  align-self: flex-start;
  box-shadow: none;
  margin-left: 2px;

  &.invitation-outgoing {
    align-items: center;
    background-color: #108d32;
    color: white;
    margin-right: 3px;
    margin-left: unset;
  }
 
  .group-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 16px;
    width: 305px;
    background-color: var(--color-untrust-media-bg);
    cursor: pointer;
    .group-name {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .group-type {
      overflow: hidden;

      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  .timeStamp {
    color: #858598;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    text-align: end;
    // padding-right: 18px;
  }
  .timeStamp-outgoing {
    color: #f0f0f0;
  }
  .title {
    margin: 6px;
    color: darkslategray;
    font-variant-caps: all-small-caps;
    user-select: none;
  }

  .contents {
    display: flex;
    align-items: center;
    margin: 6px;

    .invite-group-avatar {
      height: 48px;
      width: 48px;
    }

    .group-details {
      display: inline-flex;
      flex-direction: column;

      padding: 0px 12px;
    }

    .bchat-icon-button {
      background-color: var(--color-accent);
      box-shadow: none;

      filter: brightness(1.05);
      svg path {
        transition: $bchat-transition-duration;
        opacity: 0.6;
        fill: var(--color-text-opposite);
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.group-invitation {
  .group-details {
    color: var(--color-received-message-text);
  }
}

.group-invitation.invitation-outgoing {
  .group-details {
    color: var(--color-sent-message-text);
    background: #0a6f0a;
    .group-name {
      color: #f0f0f0;
    }
    .group-type {
      color: #f0f0f0;
    }
  }
}
