.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  z-index: 100;
  overflow-y: auto;

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wallet {
    &-walletPassword {
      align-items: center;
      display: flex;
      width: 100%;
      // height: 87vh;
      flex-direction: column;
      justify-content: center;

      .progressSyncBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &-contentBox {
        width: 500px;
        // background-color: var(--color-WalcontentBg);
        border-radius: 10px;

        .progress {
          width: 90px;
          background-color: var(--color-hop-bg);
          border-radius: 68px;

          .CircularProgressbar {
            /*
             * This fixes an issue where the CircularProgressbar svg has
             * 0 width inside a "display: flex" container, and thus not visible.
             */
            width: 100%;
            /*
             * This fixes a centering issue with CircularProgressbarWithChildren:
             * https://github.com/kevinsqi/react-circular-progressbar/issues/94
             */
            vertical-align: middle;
          }

          .CircularProgressbar .CircularProgressbar-path {
            stroke: #00ca00;
            stroke-linecap: round;
            transition: stroke-dashoffset 0.5s ease 0s;
          }

          .CircularProgressbar .CircularProgressbar-trail {
            stroke: #858598;
            /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
            stroke-linecap: round;
          }

          .CircularProgressbar .CircularProgressbar-text {
            fill: #3e98c7;
            font-size: 20px;
            dominant-baseline: middle;
            text-anchor: middle;
          }

          .CircularProgressbar .CircularProgressbar-background {
            fill: #d6d6d6;
          }

          /*
           * Sample background styles. Use these with e.g.:
           *
           *   <CircularProgressbar
           *     className="CircularProgressbar-inverted"
           *     background
           *     percentage={50}
           *   />
           */
          .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
            fill: #3e98c7;
          }

          .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
            fill: #fff;
          }

          .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
            stroke: #fff;
          }

          .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
            stroke: transparent;
          }

          //   .circle-wrap {
          //     // margin: 150px auto;
          //     width: 150px;
          //     height: 150px;
          //     background: var(--color-inbox-background);
          //     border-radius: 50%;
          //     // border: 1px solid #cdcbd0;
          //   }
          //   .circle{
          //     position: relative;
          //   }
          //   .circle-wrap .circle .mask,
          //   .circle-wrap .circle .fill {
          //     width: 150px;
          //     height: 150px;
          //     position: absolute;
          //     border-radius: 50%;
          //   }

          //   .circle-wrap .circle .mask {
          //     clip: rect(0px, 150px, 150px, 74px);
          //   }

          //   .circle-wrap .inside-circle {
          //     width: 122px;
          //     height: 122px;
          //     border-radius: 50%;
          //     background: var(--color-smModal-bg);
          //     line-height: 120px;
          //     text-align: center;
          //     margin-top: 14px;
          //     margin-left: 14px;
          //     // color: #1e51d;
          //     position: absolute;
          //     z-index: 100;
          //     font-weight: 700;
          //     font-size: 2em;
          //   }

          //   /* color animation */

          //   /* 3rd progress bar */
          //   .mask .fill {
          //     clip: rect(0px, 75px, 150px, 0px);
          //     background-color: #00CA00;
          //   }

          //   .mask.full,
          //   .circle .fill {
          //     animation: fill ease-in-out 3s;
          //     transform: rotate(10deg);
          //   }

          //   @keyframes fill{
          //     0% {
          //       transform: rotate(0deg);
          //     }
          //     100% {
          //       transform: rotate(135deg);
          //     }
          //   }
        }

        &-walletImg {
          width: 25%;
          height: 103px;
          background-repeat: no-repeat;
          background-size: 100%;
          margin: auto;
          background-image: var(--img-walPassword);
        }

        &-headerBox {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            // color: #f0f0f0;
            font-size: 26px;
            font-weight: 700;
          }
        }

        &-inputBox {
          margin: 0 auto;
          width: 91%;

          input {
            outline: none;
            border: none;
            width: 100%;
            text-align: center;

            border-radius: 16px;
            border: 1px solid var(--color-search-border);
            background: var(--color-hop-bg);
            height: 70px;
          }
        }

        &-loader,
        &-forgotpasswordLoader {
          width: 500px;
          height: 360px;
          background-color: var(--color-BgModalColor);
          border-radius: 10px;
          z-index: 99;
          justify-content: center;
          display: flex;
          align-items: center;
        }

        &-forgotpasswordLoader {
          width: 590px;
          height: 476px;
        }

        &-forgotTxt {
          text-align: center;
          text-decoration: underline;

          color: #108d32;
          font-size: 18px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }

    &-progressSync {
      &-presentage {
        color: #108d32;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
      }

      &-barBg {
        width: 100%;
        height: 10px;
        // background-color: var(--color-walSyncbar);
        background-color: #858598;
        padding-top: 2px;

        .bar {
          background-color: #108d32;
          width: 40%;
          height: 4px;
          margin-top: 1px;
        }
      }

      &-reloadTxt {
        color: var(--color-modal-disable-txt);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
      }

      &-bRemaing {
        text-align: center;
        // color: #f0f0f0;
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-forgotPassword {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;

      &-content-Box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 538px;
        width: 580px;

        // height: 417px;
        // background-color: #2d2d3b;
        // background-color: var(--color-WalcontentBg);
        border-radius: 10px;

        // margin: 5% 0px;
        &-title {
          padding-top: 20px;
          // color: #f0f0f0;
          font-size: 26px;
          font-weight: 700;
          text-align: left;
        }

        &-seed {
          display: flex;
          flex-direction: row;
          border-radius: 16px;
          border: 1px solid var(--color-search-border);
          background: var(--color-input-background);
          width: 505px;

          textarea {
            border: none;
            outline: none;
            resize: none;
            // width: 435px;
            // height: 126px;
            width: 463px;
            height: 140px;
            // background-color: #353543;
            // background-color: var(--color-walInputBg);
            // background-color: var(--color-background-primary);
            padding: 15px 25px;

            // box-shadow: 1px 2px 5px #00000074;
            border-radius: 10px;

            font-size: 18px;
            line-height: 22px;
          }
        }

        // &-paste-icon {
        //   background: url('../images/bchat/paste.svg') no-repeat;
        //   width: 35px;
        //   height: 35px;
        //   // background-color: var(--color-inboxBgColor);
        //   background-color: var(--color-background-primary);
        //   background-size: 14px;
        //   border-radius: 35px;
        //   background-position: center;
        //   left: 10px;
        //   top: 19px;
        //   position: relative;
        //   cursor: pointer;
        //   box-shadow: var(--color-bchat-shadow);
        // }

        // &-paste-icon:hover {
        //   // transform: scale(1.1);
        //   // background-color: var(--color-wallet-copy-hover);
        //   // color: #1ced23;
        //   background-color: var(--color-profile-close);
        // }
        &-password-label {
          display: flex;
          // color: #f0f0f0;
          font-size: 16px;
          font-weight: 400;
        }
        &-password {
          border-radius: 16px;
          border: 1px solid var(--color-search-border);
          background: var(--color-input-background);
          width: 505px;
          input {
            border: none;
            outline: none;
            // background-color: #353543;
            // background-color: var(--color-walInputBg);
            // background-color: var(--color-background-primary);
            background-color: unset;
            // width: 438px;
            width: 453px;
            height: 70px;
            // box-shadow: 1px 2px 5px #00000074;
            margin-right: 10px;
            border-radius: 10px;
            padding: 15px 25px;
          }
        }

        &-disClaimerBox {
          // width: 86%;
          // padding-top: 12px;
          width: 505px;
          padding-bottom: 25px;
          color: #a7a7ba;
          font-size: 16px;
          font-weight: 400;
          text-align: start;
          line-height: 20px;
        }
      }
    }
  }

  .content,
  .contentUpdateModal {
    position: relative;
    max-width: 350px;
    margin: 100px auto;
    padding: 1em;
    background-color: $color-white;
    border-radius: $border-radius;
    overflow: auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .contentUpdateModal {
    // max-width: 654px;
    max-width: 550px;
    background-color: var(--color-smModal-bg);
    text-align: center;
    margin: 0;
  }

  &-UpdateModal {
    &-discription {
      font-family: $bchat-font-poppin-light;

      &-fontMedium {
        font-family: $bchat-font-poppin-medium;
      }
    }

    &-header {
      font-family: $bchat-font-poppin-semibold;
    }

    &-icon {
      // color:red
      width: 50px;
    }

    &-btnBox {
      width: 26%;
      margin: auto;

      .bchat-button.default.primary {
        background-color: #2075ff;
      }
    }

    &-loader {
      width: 552px;
      height: 362px;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      z-index: 99;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
}

/* remove scroll bars */
.bchat-dialog .add-moderators-dialog .content {
  padding: 1.1em;
}

.bchat-modal {
  .contact-selection-list {
    // width: 100%;
    max-width: 350px;
    min-width: 300px;
    // background-color: #313143;
    box-shadow: var(--color-bchat-shadow);
  }

  .invite-friends-list{
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
  }
}

.create-group-dialog,
.add-moderators-dialog,
.remove-moderators-dialog,
.invite-friends-dialog {
  .content {
    max-width: 100% !important;
  }

  .contact-selection-list {
    width: 100%;
  }

  .buttons {
    margin: 8px;
  }

  .group-name {
    font-size: larger;
  }

  .titleText {
    font-size: large;
    text-align: center;
  }

  .no-contacts {
    text-align: center;
  }

  .hidden {
    display: none;
  }
}

.create-group-dialog,
.add-moderators-dialog,
.remove-moderators-dialog,
.edit-profile-dialog {
  .error-message {
    text-align: center;
    color: red;
    display: block;
    user-select: none;
  }

  .error-faded {
    opacity: 0;
    margin-top: -5px;
    transition: all 100ms linear;
  }

  .error-shown {
    opacity: 1;
    transition: all 250ms linear;
  }
}

.bchat-dialog {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 75%;
    min-width: 60%;
    padding: 1em;
    background: white;
    border-radius: $border-radius;
    overflow: auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  }

  button {
    float: right;
    margin-inline-start: 10px;
    background-color: $color-bchat-green;
    border-radius: 100px;
    padding: 5px 15px;
    border: 1px solid $color-bchat-green;
    color: white;
    outline: none;
    user-select: none;

    &:hover,
    &:disabled {
      background-color: $color-bchat-green-dark;
      border-color: $color-bchat-green-dark;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 0;
    outline: none;
    border-radius: 4px;
    background-color: $color-bchat-light-gray;

    &:focus {
      outline: none;
    }
  }

  h4 {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.nickname-dialog {
  .message {
    font-style: italic;
    color: $grey;
    font-size: 12px;
    margin-bottom: 16px;
  }
}

.seed-dialog {
  .title {
    font-weight: bold;
  }

  .fields {
    margin-top: 20px;
  }

  .seed {
    padding: 20px 0;
    font-style: oblique;
  }

  .qr-image {
    transition: $bchat-transition-duration;
    opacity: 10%;

    &:hover {
      opacity: 100%;
    }
  }
}

.bchat-dialog {
  & ~ .index.inbox {
    // filter: blur(2px); // FIXME enable back once modals are moved to react
    // currently it cause an issues with toast being on the foreground when a modal is shown
    transition: filter 0.1s;
  }

  .groupNameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 443px;
    height: 70px;
    background: var(--color-input-background);
    color: var(--color-text);
    border: 1px solid #46465d;
    border-radius: 16px;

    input {
      width: 371px;
      height: 65px;

      // text-align: center;
      background: unset;
      padding: 0 20px;
    }
  }

  .changepass {
    &-forgot-seed {
      textarea {
        border: none;
        outline: none;
        width: 361px;
        height: 76px;
        // background-color: #353543;
        background-color: var(--color-walInputBg);
        padding: 15px;
        // box-shadow: 1px 2px 5px #00000074;
      }
    }

    &-oldpassInput {
      border-radius: 16px;
      border: 1px solid var(--color-search-border);
      background: var(--color-hop-bg);
      height: 70px;
      width: 100%;
      padding: 10px;
      input {
        background: var(--color-hop-bg);
        height: 100%;
        width: 430px;

        // margin-bottom: 10px;
        // box-shadow: 1px 2px 5px #00000074;
      }
    }

    &-newPassInput {
      border-radius: 16px;
      border: 1px solid var(--color-search-border);
      background: var(--color-hop-bg);
      height: 70px;
      width: 100%;
      padding: 10px;
      input {
        // background-color: #353543;
        background: var(--color-hop-bg);
        height: 100%;
        width: 430px;
        // box-shadow: 1px 2px 5px #00000074;
        // margin-right: 12px;
      }
    }
  }

  input {
    background-color: var(--color-smModal-bg);
    color: var(--color-text);
    border-bottom: 0;
    margin: 0;
    // box-shadow: var(--color-bchat-shadow);
  }
}

.nickname-dialog {
  .message {
    color: $color-light-35;
  }
}

.walletPassModal {
  width: 500px;
  height: 343px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 99;
  justify-content: center;
  display: flex;
  align-items: center;
}

.walletChangePasswordHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
  font-family: 'Poppins';
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
}

.edit-profile-dialog {
  .bchat-modal__header__title {
    font-size: $bchat-font-lg;
  }

  .bchat-modal {
    width: $bchat-modal-size-md;

    &__header {
      height: 68.45px;
    }
  }

  .avatar-center-inner {
    position: relative;

    // .module-avatar {
    //   left: 10px;
    //   box-shadow: 0px 0px 13px 0.5px var(--color-bchat-shadow);
    // }

    .qr-view-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -3px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $bchat-color-white;
      transition: $bchat-transition-duration;

      &:hover {
        filter: brightness(90%);
      }

      .bchat-icon-button {
        opacity: 1;
      }
    }
  }

  .bchat-id-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .panel-text-divider {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    &-display {
      user-select: text;
      text-align: left;
      word-break: break-all;
      font-size: $bchat-font-md;
      // background-color: var(--color-background-primary);
      background-color: var(--color-hop-bg);
      border-radius: 10px;
      padding: 0px 10px 10px 14px;
      font-family: $bchat-font-default;
      font-weight: 100;
      color: #0bb70f;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      flex-direction: row;
      width: 100%;
      min-height: 60px;
      box-shadow: var(--color-bchat-shadow);

      font-size: $bchat-font-md;

      // padding: 0px $bchat-margin-sm;
      .profile-value {
        width: 86%;
        font-weight: 600;
        font-size: 14px;
      }
    }

    &-display-icon {
      // background:url('../images/bchat/copy_icon.svg');
      display: flex;
      justify-content: center;
      align-items: center;
      // background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      position: relative;
      // background-color: var(--color-composeMsgInput);
      background-color: var(--color-copyIconBg);
      background-size: 16px;
      border-radius: 30px;
      background-position: center;
      cursor: pointer;
    }

    .bchat-button {
      width: 148px;
    }
  }

  .profileHeader {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .profileClose {
    display: flex;
    // justify-content: center;
    margin-left: 20px;
    margin-top: 12px;
    width: 28px;
    height: 28px;
    // &:hover {
    //   background-color: var(--color-profile-close);
    //   border-radius: 20px;
    // }
  }

  .profile-name {
    display: flex;
    margin-top: $bchat-margin-sm;
    margin-bottom: $bchat-margin-sm;
    justify-content: center;
    width: 100%;
    font-family: $bchat-font-default;
    font-weight: 400;

    .inputBox {
      display: flex;
      width: 200px;
      padding-left: 45px;
    }

    .saveIcon {
      width: 35px;
      color: var(--color-accent);
      cursor: pointer;
      margin: auto 0;
      margin-left: 7px;
    }

    input {
      height: 38px;
      border-radius: 16px;
      text-align: center;
      font-size: $bchat-font-md;
      background: var(--color-input-background);
      color: var(--color-text);
      border: 1px solid #46465d;
    }

    &-uneditable {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin-right: 25px;
      font-family: $bchat-font-default;

      p {
        font-size: 16px;
        padding: 0px $bchat-margin-sm;
        margin-left: 33px;
        line-height: 22px;
      }

      .qr-icon-btn {
        width: 30px;
        height: 30px;
        // left: 103px;
        position: relative;
        cursor: pointer;

        &:hover {
          color: #128b17;
        }
      }

      .bchat-icon-button {
        padding: 0px;
      }
    }
  }

  .link_bns_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .link_bns_Btn {
    width: 55%;
    border-radius: 12px;
    background-color: #128b17;
    font-weight: 600;
    border: none;
    font-size: 12px;
    height: 45px;
    font-family: $bchat-font-default;
    font-weight: 600;
  }

  .hintTxt {
    color: #a7a7ba;
    font-size: 12px;
    display: flex;
    margin-top: 7px;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .bnsVerfiedTxt {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    color: #0bb70f;
    font-size: 14px;
    font-family: $bchat-font-default;
    font-weight: 700;
  }
}

// .bns_enable_modal {
// .bchat-modal__body {
// border: 2px solid #00bd40;
// box-shadow: inset 0 0 24px 0px rgba(0, 189, 64, 0.45);
// border-radius: 17px;
// }
// }
.bns_link_modal {
  width: 500px;
  padding-top: 20px;
  text-align: left;
  header {
    margin-bottom: 25px;
    margin-top: 15px;
    // color: #f0f0f0;
    font-size: 26px;
    font-weight: 700;
  }

  .label_id {
    // font-weight: 700;
    // font-family: $bchat-font-poppin-semibold;
    font-family: $bchat-font-poppins-bold;
    margin-bottom: 10px;
    font-size: 12x;
  }

  .linked_bns {
    padding: 0px 0px 35px;
    font-size: 20px;
    font-weight: 700;
    color: #108d32;
  }

  .id_wrapper {
    // height: 90px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: var(--color-BnsLinkIdBg);
    // background-color: #202329;
    border: 1px solid var(--color-search-border);
    padding: 0px 25px;
    border-radius: 16px;
    margin-bottom: 15px;
    // box-shadow: var(--color-bchat-shadow);
    .id-label {
      // color: #f0f0f0;
      font-size: 16px;
      font-weight: 600;
    }
    .id_content {
      color: #108d32;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .hr_line {
    background-color: var(--color-pill-divider);
    width: 100%;
    height: 2px;
  }

  .label_input {
    color: #a7a7ba;
    font-size: 16px;
    font-weight: 400;
  }

  .inputBox-wrapper {
    // margin: 15px auto;
    height: 65px;
    background-color: var(--color-BnsLinkIdBg);
    // background-color: #202329;
    border: 1px solid var(--color-search-border);
    border-radius: 16px;
    padding: 0px 25px;
    // box-shadow: var(--color-bchat-shadow);

    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }

  .divided-btn-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    // padding: 0 32px;

    margin-bottom: 10px;

    .button {
      height: 55px;
      border-radius: 12px;
      background-color: #202329;
      color: #858598 !important;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .success {
    font-family: $bchat-font-default;
    font-size: 22px;
    margin-bottom: 35px;
    margin-top: 20px;
    font-weight: 700;
    color: #108d32;
  }
}
.nickNameDialog {
  .input-wrapper {
    width: 420px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--color-search-border);
    background: var(--color-input-background);
    display: flex;
    padding: 0 13px;
    align-items: center;
    input {
      background-color: unset;
    }
  }
}
.about-bns {
  section {
    text-align: left;
    width: 600px;
    height: 450px;
    overflow: auto;
    margin-bottom: 25px;
  }

  article {
    padding: 0 10px;
  }

  .bchat-modal__header__title {
    font-size: 18px;
  }

  &-header {
    font-family: $bchat-font-default;
    font-weight: 600;
    font-size: 16px;
    margin-top: $bchat-margin-md;
    margin-bottom: $bchat-margin-sm;
  }

  &-txt {
    font-family: $bchat-font-default;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: $bchat-margin-lg;
    line-height: 22px;
  }

  &-txt-bold {
    line-height: 22px;

    span {
      font-family: $bchat-font-default;
      font-weight: 600;
    }

    span:first-child {
      font-family: $bchat-font-default;
    }
  }
}

.onion-status-dialog {
  .bchat-modal__header__title {
    font-size: $bchat-font-lg;
  }

  .bchat-modal {
    width: $bchat-modal-size-md;

    &__header {
      height: 68.45px;
    }
  }

  .bchat-modal__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;

    .onionDescriptionContainer {
      text-align: center;
      margin-top: 0;
    }

    .onionPath {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 2em auto;

      .dotContainer:not(:last-child) {
        padding-bottom: 2em;
      }

      .dotContainer {
        display: flex;
        align-items: center;
        width: 100%;

        p {
          margin-bottom: 0 !important;
          margin-top: 0;
          margin-left: 2em;
          text-align: left;
        }

        .dot {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }

    .lineContainer {
      height: 50px;
    }
  }
}

.user-details {
  .user-name {
    // color: #f0f0f0;
    font-size: 20px;
    font-weight: 600;
  }
  .user-id-wrapper {
    border-radius: 16px;
    border: 1px solid var(--color-search-border);
    background: var(--color-hop-bg);
    padding: 15px;
    text-align: left;
    &-label {
      // color: #f0f0f0;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .user-id {
      color: #108d32;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      padding-right: 20px;
    }
  }
}
