// Modules
@import 'react-h5-audio-player/lib/styles.css';
@import 'react-contexify/dist/ReactContexify.css'; // the .css is actually referencing the .min.css in the 6.0.0
@import 'react-toastify/dist/ReactToastify.css';

@import 'sanitize.css/sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/typography.css';

// Global Settings, Variables, and Mixins
@import 'bchat_constants';
@import 'variables';
@import 'mixins';
@import 'global';

// Components
@import 'modal';
@import 'debugLog';
@import 'lightbox';
@import 'emoji';
@import 'mentions';
@import 'avatar';

// Build the main view
@import 'index';
@import 'conversation';

// Themes
@import 'theme_dark';

// /////////////////// //
// ///// BChat ///// //
// /////////////////// //
@import 'modules';
@import 'bchat';
@import 'quote';
@import 'rtl';

// Separate screens
@import 'bchat_signin';
@import 'bchat_password';

@import 'bchat_theme';
@import 'bchat_left_pane';
@import 'bchat_group_panel';

@import 'bchat_slider';
@import 'bchat_conversation';

@import '_bchat_password';

@import 'bchat_display_seed';
